agendamento1-K6kdmdnZlW2d2jlX.json
{"createdAt":"2025-03-19T12:25:28.295Z","updatedAt":"2025-03-19T16:46:21.534Z","id":"K6kdmdnZlW2d2jlX","name":"agendamento1","active":false,"nodes":[{"parameters":{"operation":"set","key":"=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"={{ $now.plus($('ALTERE ISSO').item.json.TIMEOUT*1000).toISO() }}"},"name":"STORE TIMEOUT","type":"n8n-nodes-base.redis","typeVersion":1,"position":[700,140],"id":"7c24431a-f24e-44ba-8534-140b83677b4d","credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"35fa457c-66ec-469e-bcff-e138580a8137","name":"MESSAGE","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"0290c965-a69e-48cd-a9d5-3eb9fe5551cd","name":"SET DEFAULT MESSAGE","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,140]},{"parameters":{"assignments":{"assignments":[{"id":"35fa457c-66ec-469e-bcff-e138580a8137","name":"MESSAGE","value":"=Menção: {{ $('Webhook').item.json.body.data.contextInfo.quotedMessage.conversation }}\nResposta:{{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }} ","type":"string"}]},"options":{}},"id":"b130ca3a-8e6b-4cb5-aa80-802e684300de","name":"SET REPLIED MESSAGE","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,300]},{"parameters":{"assignments":{"assignments":[{"id":"35fa457c-66ec-469e-bcff-e138580a8137","name":"MESSAGE","value":"={{ $('Webhook').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.conversation+'*' }}","type":"string"}]},"options":{}},"id":"6748af9b-02f2-4d3f-9161-14933057ea82","name":"SET EDITED MESSAGE","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,460]},{"parameters":{"operation":"toBinary","sourceProperty":"MESSAGE","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1320,620],"id":"bb2cdaf1-3de8-4ca3-87c6-28c1c2444d62","name":"CONVERT TO MP3"},{"parameters":{"assignments":{"assignments":[{"id":"35fa457c-66ec-469e-bcff-e138580a8137","name":"MESSAGE","value":"=Transcrição do Áudio enviado pelo usuário: {{ $json.text }}","type":"string"}]},"options":{}},"id":"7918e968-8ba3-4448-a7d1-afc1d653e6ff","name":"SET AUDIO MESSAGE","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,620]},{"parameters":{"operation":"toBinary","sourceProperty":"MESSAGE","options":{"fileName":"={{(+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5)}}.webp","mimeType":"image/webp"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1320,780],"id":"21a49df9-1658-4e89-9cf9-3563b5862bdc","name":"CONVERT TO JPG"},{"parameters":{"assignments":{"assignments":[{"id":"35fa457c-66ec-469e-bcff-e138580a8137","name":"MESSAGE","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"e549507e-36e1-4203-901c-10fe3d36a7bc","name":"SET AUDIO BASE64","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,620]},{"parameters":{"assignments":{"assignments":[{"id":"35fa457c-66ec-469e-bcff-e138580a8137","name":"MESSAGE","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"39950545-9768-4cf1-bd5b-08a44d2f1951","name":"SET IMAGE BASE64","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,780]},{"parameters":{"assignments":{"assignments":[{"id":"35fa457c-66ec-469e-bcff-e138580a8137","name":"MESSAGE","value":"=Transcrição do Áudio enviado pelo usuário: {{ $json.text }}","type":"string"}]},"options":{}},"id":"7e32632e-68cb-436c-b57d-a0641b7c1d42","name":"SET IMAGE MESSAGE","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,780]},{"parameters":{"operation":"push","list":"=Messages.{{ $('Webhook').item.json.body.data.key.remoteJid }}","messageData":"={{ $json.MESSAGE }}","tail":true},"name":"STORE MESSAGE","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2300,120],"id":"be0df623-adbd-473a-ab71-d63001d4380c","credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"=Messages.{{ $('Webhook').item.json.body.data.key.remoteJid }}"},"name":"RETRIEVE LAST MESSAGES","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2500,120],"id":"97de403a-20b4-4c73-8d40-bf937dcb9cd0","credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2940,120],"id":"bc392405-e7e0-4e31-953c-5a3f28122193","name":"GET TIMEOUT","credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{"amount":"={{ $('ALTERE ISSO').item.json.TIMEOUT }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2720,120],"id":"eb251b70-3d3e-486e-bb7e-830ec430e04b","name":"TIMEOUT","webhookId":"43deaaad-faa9-4ade-a67b-62ccd56e4e54"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2539a6bb-4bc5-419b-85d6-a2a456b14cca","leftValue":"={{ $now }}","rightValue":"={{ $json.values()[0].toDateTime() }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3160,120],"id":"1314f662-3518-4309-9655-895307a184fb","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d29f1b4-c344-41a3-87de-2e572d101d74","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,140],"id":"057a5c83-833f-41d6-b1b6-a809ae5fc774","name":"If1"},{"parameters":{"operation":"set","key":"=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"={{ $now.plus($('ALTERE ISSO').item.json[\"FROM-ME-WINDOW\"]*60*1000).toISO() }}"},"name":"STOP AND SET TIMEOUT","type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,0],"id":"6898bc91-580d-4020-8da8-4e69b839788c","credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"=Timeout.{{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,160],"id":"f1b1c66f-4a68-4290-9026-b4fec18a6ecb","name":"GET TIMEOUT1","alwaysOutputData":true,"credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c24b57c-246d-4815-97d8-b0c9d7a335ad","leftValue":"={{ $now }}","rightValue":"={{ $json.values()[0]?.toDateTime() }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,240],"id":"0094c6a3-9177-4fcd-9c1b-9891d02c7a3f","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3b6ff31-61cb-40c2-92d3-7f3f6ea2b4b4","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,160],"id":"673e7586-a4a5-4860-aea6-358680c3d22c","name":"If3"},{"parameters":{"httpMethod":"POST","path":"bot01","options":{}},"id":"04f1acaf-9ad8-439c-a600-921be6731f34","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,140],"webhookId":"4a826df4-1f5a-4c29-97eb-0879c751c681"},{"parameters":{"options":{}},"id":"69b663bf-94ad-4e12-a207-d39c092d613a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3480,460],"credentials":{"openAiApi":{"id":"icLZwG73tUY83J9Q","name":"OpenAi DeepSeek1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Default"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"86e7e773-8586-458f-a1fb-2890f2030230","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reply"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7f108034-a1be-4e90-b42e-e4f8a719e311","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"editedMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Edited"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"256e7cf8-be54-4c41-ba80-2d9eb0a07563","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"da03e413-3422-419c-af1a-71ff87c307e2","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"id":"00d5c90e-e85f-4502-9f78-ee19084b5e42","name":"Tipo da Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[960,140]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Descreva essa imagem","inputType":"base64","options":{}},"id":"6578828e-7096-4232-87df-b8c03ce8eaa9","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1540,780],"credentials":{"openAiApi":{"id":"icLZwG73tUY83J9Q","name":"OpenAi DeepSeek1"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"4ca1c28d-f3da-48fb-b179-10b3c970c5b5","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1540,620],"credentials":{"openAiApi":{"id":"icLZwG73tUY83J9Q","name":"OpenAi DeepSeek1"}}},{"parameters":{"promptType":"define","text":"={{ $('RETRIEVE LAST MESSAGES').item.json.values().flat().join(`\n`) }}","options":{"systemMessage":"PROMPT AQUI"}},"id":"5fa28319-b9d3-4c33-86e3-4d9996a14d1a","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3600,100]},{"parameters":{"sessionIdType":"customKey","sessionKey":"=Messages.{{ $json?.id || 'test' }}.{{ $('Webhook').item.json.body.data.key.remoteJid }}"},"id":"83a71d38-dca4-4c07-9c17-24a62af8e8d4","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3680,440],"credentials":{"postgres":{"id":"buWQKtj7jSlp15sW","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"6105ea09-93a2-4753-bccf-8e1c40db512a","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4220,100]},{"parameters":{"options":{}},"id":"fcbc16b2-9434-4d9a-9479-3c18b3090076","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4600,100]},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('ALTERE ISSO').item.json['EVOLUTION-API-KEY'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"delay","value":"={{ $json.messages.length * $('ALTERE ISSO').item.json['TIME-PER-CHAR']}}"},{"name":"presence","value":"composing"},{"name":"text","value":"={{ $json.messages }}"},{"name":"textMessage","value":"={{ {text: $json.messages} }}"}]},"options":{}},"id":"c563a52c-73ef-4257-8bee-734808ccdcee","name":"SEND TEXT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5460,500],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/message/sendMedia/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('ALTERE ISSO').item.json['EVOLUTION-API-KEY'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"mediatype\": \"image\",\n  \"media\": \"{{ $json.messages.match(/https:\\/\\/[^\\s]+?\\.(jpeg|jpg|png|webp)/)[0] }}\"\n}","options":{}},"id":"36a25a13-7a51-4e73-91c6-a5ee85676fcb","name":"SEND IMAGE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5460,220],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/message/sendMedia/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('ALTERE ISSO').item.json['EVOLUTION-API-KEY'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"mediatype\": \"video\",\n  \"media\": \"{{ $json.messages.match(/https:\\/\\/[^\\s]+?\\.(wmv|mp4|mov|mkv)/)[0] }}\"\n}","options":{}},"id":"5c67b971-75b7-4ac7-a61e-d4b23cdb767c","name":"SEND VIDEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5460,360],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bd6c6ac4-8ebd-4d14-9935-1fd270106c48","leftValue":"={{ $json.messages.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8a8907db-2f29-4fc3-a50d-264a2c5d015e","leftValue":"={{ $json.messages.match(/https:\\/\\/.*\\.(wmv|mp4|mov|mkv)/g) !== null}}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.messages.toBoolean() && $json.messages.isEmpty() == false && $json.messages.replace(/\\s+/g, '').isUrl() == false && $json.messages !== '\\n\\n'}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1e39b36c-7f91-46d0-a550-9bcaf6f6aa1e","leftValue":"={{ $json.messages }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vazio"}]},"options":{}},"id":"58097c89-1135-42c1-8a3c-c96201620272","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4880,100]},{"parameters":{"assignments":{"assignments":[{"id":"8c49a9be-f027-4ca6-8a8c-856fa46ee664","name":"TIMEOUT","value":2,"type":"number"},{"id":"24d3b8c3-c8c4-4bee-9876-db1f82cb5dfb","name":"EVOLUTION-API-KEY","value":"wapi_ASaZKFqkQ8oNc0uPvXF4OrxyYoekLrmw5QhIOYf57AY9GdysxnJpu3hMNbVDQvO77q14mbXCx8b2KkJQ3C34whrnSqV8nrvkNYC8rwdtFb4hKp5kNWNqo0B2ckV","type":"string"},{"id":"2925f61f-175c-4f67-b38f-581d23cd5684","name":"FROM-ME-WINDOW","value":30,"type":"number"},{"id":"4c777567-176a-4a87-98cf-5e883a37270d","name":"TIME-PER-CHAR","value":35,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,140],"id":"c45cc9fc-b1f1-4590-8dc6-c98a41d88a5a","name":"ALTERE ISSO"},{"parameters":{"operation":"delete","key":"=Messages.{{ $('Webhook').first().json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5360,60],"id":"4fef49f5-1942-474e-85e5-654b25654fa3","name":"DELETE HISTORY","credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[5180,60],"id":"a17e5274-2c85-4213-a014-f9f38c355e6a","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"39040a95-bd85-497e-b531-014af083fed8","name":"messages","value":"={{ $json.output.split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"id":"5f5108af-53c3-4d56-b895-4a43f99969d4","name":"TEXT","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3980,100]},{"parameters":{"operation":"executeQuery","query":"SELECT nome, endereco, contato, plano, placa, \n       mensalidades_em_aberto, valor_debito \nFROM clientes \nWHERE cpf = $1 OR placa = $1\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-420,440],"id":"f6297d4f-d7db-46b1-8790-00718c237fbc","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"pH65BfvKjPWhUKHM","name":"Microsoft SQL account"}}},{"parameters":{"mode":"raw","jsonOutput":"{{ $('Webhook').item.json.body.data.message.conversation }}\n\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-680,440],"id":"45d0a428-cef7-48dd-b9ea-82210db083c1","name":"Edit Fields"}],"connections":{"STORE TIMEOUT":{"main":[[{"node":"Tipo da Mensagem","type":"main","index":0}]]},"SET DEFAULT MESSAGE":{"main":[[{"node":"STORE MESSAGE","type":"main","index":0}]]},"SET REPLIED MESSAGE":{"main":[[{"node":"STORE MESSAGE","type":"main","index":0}]]},"SET EDITED MESSAGE":{"main":[[{"node":"STORE MESSAGE","type":"main","index":0}]]},"CONVERT TO MP3":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"SET AUDIO MESSAGE":{"main":[[{"node":"STORE MESSAGE","type":"main","index":0}]]},"CONVERT TO JPG":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"SET AUDIO BASE64":{"main":[[{"node":"CONVERT TO MP3","type":"main","index":0}]]},"SET IMAGE BASE64":{"main":[[{"node":"CONVERT TO JPG","type":"main","index":0}]]},"SET IMAGE MESSAGE":{"main":[[{"node":"STORE MESSAGE","type":"main","index":0}]]},"STORE MESSAGE":{"main":[[{"node":"RETRIEVE LAST MESSAGES","type":"main","index":0}]]},"RETRIEVE LAST MESSAGES":{"main":[[{"node":"TIMEOUT","type":"main","index":0}]]},"GET TIMEOUT":{"main":[[{"node":"If","type":"main","index":0}]]},"TIMEOUT":{"main":[[{"node":"GET TIMEOUT","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"STOP AND SET TIMEOUT","type":"main","index":0}],[{"node":"GET TIMEOUT1","type":"main","index":0}]]},"GET TIMEOUT1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If2":{"main":[[{"node":"STORE TIMEOUT","type":"main","index":0}]]},"If3":{"main":[[{"node":"STORE TIMEOUT","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Tipo da Mensagem":{"main":[[{"node":"SET DEFAULT MESSAGE","type":"main","index":0}],[{"node":"SET REPLIED MESSAGE","type":"main","index":0}],[{"node":"SET EDITED MESSAGE","type":"main","index":0}],[{"node":"SET AUDIO BASE64","type":"main","index":0}],[{"node":"SET IMAGE BASE64","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"SET IMAGE MESSAGE","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"SET AUDIO MESSAGE","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"SEND TEXT":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"SEND IMAGE":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"SEND VIDEO":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"SEND IMAGE","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}],[{"node":"SEND VIDEO","type":"main","index":0}],[{"node":"SEND TEXT","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"TEXT","type":"main","index":0}]]},"ALTERE ISSO":{"main":[[]]},"Limit":{"main":[[{"node":"DELETE HISTORY","type":"main","index":0}]]},"TEXT":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.automatiza-ai.com","user-agent":"axios/1.6.8","content-length":"841","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"92.118.56.179","x-forwarded-host":"n8n.automatiza-ai.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4f2a6e9e22b9","x-real-ip":"92.118.56.179"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"business","data":{"key":{"remoteJid":"5519992510632@s.whatsapp.net","fromMe":false,"id":"3AC589F6C48BCFDCACB9"},"pushName":"Eduardo Carezia","message":{"conversation":"aaa","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"oI55ghwqtoZf9A==","senderTimestamp":"1730914702","recipientKeyHash":"1NRZGvSNnJvFKg==","recipientTimestamp":"1733800488"},"deviceListMetadataVersion":2,"messageSecret":"2OIiT9BSsSeK/wwyv15ynVl/Xi19VXPbIHwLbV0K80Q="}},"messageType":"conversation","messageTimestamp":1735680974,"owner":"business","source":"ios"},"destination":"https://n8n.automatiza-ai.com/webhook-test/4a826df4-1f5a-4c29-97eb-0879c751c681","date_time":"2024-12-31T18:36:14.718Z","sender":"5519994670981@s.whatsapp.net","server_url":"https://wapi.automatiza-ai.cloud","apikey":"blthlo5l6ql4ijk7ixl1tk"},"webhookUrl":"https://api.automatiza-ai.com/webhook-test/4a826df4-1f5a-4c29-97eb-0879c751c681","executionMode":"test"}}]},"versionId":"b9a99097-2173-4f53-8b41-50b31b65bd7f","triggerCount":0,"tags":[{"createdAt":"2025-03-19T11:53:38.277Z","updatedAt":"2025-03-19T11:53:38.277Z","id":"IY6x5fXHBFw7V5Ri","name":"LOGIC"}]}