backup-fluxos-2TE1expo2V1Zj9bT.json
{"createdAt":"2025-03-15T16:56:27.061Z","updatedAt":"2025-03-18T16:07:57.832Z","id":"2TE1expo2V1Zj9bT","name":"Backup Fluxos","active":false,"nodes":[{"parameters":{},"id":"e78fa510-ae5f-4079-b9d6-9fb0a7c20128","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2100,280]},{"parameters":{"options":{}},"id":"8d0866b4-3abb-4a3d-8320-fec6d3a260eb","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1900,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"b58d397a-5a54-4735-ab5d-2995dd643a51","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1700,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"4f08e06b-7f09-42a3-a1c3-9b0931819f09","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1500,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n_fluxos","mode":"list","cachedResultName":"backup_n8n_fluxos","cachedResultUrl":"https://github.com/ramosgrupo/backup_n8n_fluxos"},"filePath":"="},"id":"9107c7cc-54b0-43c0-a24c-ce4a25d2de8e","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1300,280],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"IAnKfrigVOMzKuBm","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"97a8c94e-919d-4bd3-8002-fc6df1d1f732","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1100,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"e1f05314-025a-4f19-baca-f5a52e127ab5","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-900,280],"credentials":{"n8nApi":{"id":"1hz7Z3Oan72VAdSN","name":"n8n account 2"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"e34be39e-95d8-460a-b10f-2ee467ef9596","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-700,280]},{"parameters":{"batchSize":1,"options":{}},"id":"74634955-8e71-4a27-ad94-3e6a882fd022","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-460,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"90d056c7-2ec8-4949-bcc7-2e05747ad3fc","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-220,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n_fluxos","mode":"list","cachedResultName":"backup_n8n_fluxos","cachedResultUrl":"https://github.com/ramosgrupo/backup_n8n_fluxos"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"6b650aa1-0a6c-46db-a4da-51b6bb36de7e","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"credentials":{"githubOAuth2Api":{"id":"IAnKfrigVOMzKuBm","name":"GitHub account 2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n_fluxos","mode":"list","cachedResultName":"backup_n8n_fluxos","cachedResultUrl":"https://github.com/ramosgrupo/backup_n8n_fluxos"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"dad4cad6-56bd-4f0f-8ab3-07f7d989354b","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"credentials":{"githubOAuth2Api":{"id":"IAnKfrigVOMzKuBm","name":"GitHub account 2"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f03236b7-6461-4d7a-99c5-33f05c735db4","triggerCount":0,"tags":[]}