bot_captura-U2ep4bdelpKElWwN.json
{"createdAt":"2025-03-19T14:32:54.744Z","updatedAt":"2025-03-24T18:55:59.866Z","id":"U2ep4bdelpKElWwN","name":"Bot_Captura","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bot00","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,-80],"id":"f5e484bb-0f17-49a9-bbf9-34df73260cfe","name":"Webhook","webhookId":"b499133a-dad9-4145-b7c3-0a41f3d8a8b4"},{"parameters":{"assignments":{"assignments":[{"id":"ab745a4a-be38-496a-a73d-0ce54612da5a","name":"SearchTerm","value":"=","type":"string"},{"id":"f5f5cd28-5fd0-44ec-8a25-672c12a98702","name":"Grupo","value":"{{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"ebb9a13d-238e-44d1-b366-979931691a05","name":"body.body.data.message.conversation","value":"={{ $json.body.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,-80],"id":"2fc9c7ff-5796-4ca7-a82b-6be63f7399a9","name":"Extrair CPF ou Placa"},{"parameters":{"operation":"executeQuery","query":"DECLARE @SearchTerm VARCHAR(50);\nSET @SearchTerm = '{{ $json.body.body.data.message.conversation }}';\n\nSELECT \n    C.Nome AS [NOME],\n    LTRIM(RTRIM(\n         COALESCE(C.[Endereço], '') +\n         CASE WHEN C.NumCasa IS NOT NULL THEN ', ' + C.NumCasa ELSE '' END +\n         CASE WHEN C.Bairro IS NOT NULL THEN ', ' + C.Bairro ELSE '' END +\n         CASE WHEN C.Cidade IS NOT NULL THEN ', ' + C.Cidade ELSE '' END +\n         CASE WHEN C.Estado IS NOT NULL THEN ', ' + C.Estado ELSE '' END +\n         CASE WHEN C.CEP IS NOT NULL THEN ', ' + C.CEP ELSE '' END\n    )) AS [ENDEREÇO COMPLETO],\n    LTRIM(RTRIM(\n         COALESCE(C.Celular, '') +\n         CASE WHEN C.Fone1 IS NOT NULL THEN '; ' + C.Fone1 ELSE '' END +\n         CASE WHEN C.Fone2 IS NOT NULL THEN '; ' + C.Fone2 ELSE '' END\n    )) AS [CONTATO COMPLETO],\n    C.CGCCPF AS [CPF],\n    C.DiaVencimento AS [DIA DE VENCIMENTO],\n    GV.Placa AS [PLACA],\n    COALESCE(SA.Descrição, C.PlanoMMN) AS [PLANO],\n    ISNULL((SELECT COUNT(*) FROM dbo.ContasReceber WHERE Cliente = C.CodCliente AND Pago = 0), 0) AS [MENSALIDADES EM ABERTO],\n    ISNULL((SELECT SUM(Saldo) FROM dbo.ContasReceber WHERE Cliente = C.CodCliente AND Pago = 0), 0) AS [VALOR DÉBITO]\nFROM dbo.Clientes C\nLEFT JOIN dbo.[ServiçosAdicionais] SA ON SA.CentroResultados = C.CentroResultados\nLEFT JOIN dbo.[GRVeículos] GV ON GV.Cliente = C.CodCliente\nWHERE \n    -- CPF tratado sem pontos e hífen\n    REPLACE(REPLACE(REPLACE(C.CGCCPF, '.', ''), '-', ''), ' ', '') = \n    REPLACE(REPLACE(REPLACE(@SearchTerm, '.', ''), '-', ''), ' ', '')\n\n    OR \n\n    -- Placa tratada para case-insensitive (maiúsculas/minúsculas)\n    UPPER(GV.Placa) = UPPER(@SearchTerm);\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-80,-80],"id":"822e8fb5-1c78-4a4c-8aa7-a8a0d7bc7b4d","name":"Consultar Banco de Dados","alwaysOutputData":true,"executeOnce":false,"retryOnFail":false,"credentials":{"microsoftSql":{"id":"pH65BfvKjPWhUKHM","name":"Microsoft SQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c74f7fe-e6d9-4162-adbb-bed88a39a09f","leftValue":"{{ Object.keys($json).length > 0 }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"434ae585-3c35-4a67-8a29-fc628a7ae5fd","leftValue":"{{ $json[\"NOME\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,-80],"id":"c60ea2e4-717b-4f8d-9c80-ca279fd6888a","name":"Verificar Resultado"},{"parameters":{"resource":"messages-api","instanceName":"captura1","remoteJid":"+5585987334871","messageText":"={{ $json.Mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[780,-60],"id":"289c7793-9727-43cf-82c0-fd21a94fe096","name":"Enviar Resposta WhatsApp","credentials":{"evolutionApi":{"id":"9FEgiE6LKwnEkHz2","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"39dc7a6f-357d-4184-86b4-1e7b6317e3f7","name":"Mensagem","value":"\"Nenhuma informação encontrada para o CPF/Placa fornecido.\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,60],"id":"0d19d097-26f0-4c7a-b522-e97eedbe7ef6","name":"\"Mensagem Não Encontrada\""},{"parameters":{"content":"## Resposta\nVerifica se a Placa ou CPF são válidos e envia resposta ","height":580,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,-340],"id":"2d429f8c-d3bc-40fc-b7f1-3890ad7c9421","name":"Sticky Note"},{"parameters":{"jsCode":"return [{\n  Mensagem: \n    '📌 CAPTURA\\n\\nNOME: ' + ($json[\"NOME\"] || 'Não informado') + \n    '\\nENDEREÇO: ' + ($json[\"ENDEREÇO COMPLETO\"] || 'Não informado') + \n    '\\nCONTATO: ' + ($json[\"CONTATO COMPLETO\"] || 'Não informado') + \n    '\\nPLANO: ' + ($json[\"PLANO\"] || 'Não informado') + \n    '\\nPLACA: ' + ($json[\"PLACA\"] || 'Não informado') + \n    '\\nMENSALIDADES EM ABERTO: ' + ($json[\"MENSALIDADES EM ABERTO\"] || '0') + \n    '\\nVALOR DÉBITO: R$' + ($json[\"VALOR DÉBITO\"] || '0.00')\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[420,-240],"id":"84d31a33-7bb6-4c30-a04f-53b11511e349","name":"Formatar Resposta1"}],"connections":{"Webhook":{"main":[[{"node":"Extrair CPF ou Placa","type":"main","index":0},{"node":"Consultar Banco de Dados","type":"main","index":0}]]},"Consultar Banco de Dados":{"main":[[{"node":"Verificar Resultado","type":"main","index":0}]]},"Verificar Resultado":{"main":[[{"node":"Formatar Resposta1","type":"main","index":0}],[{"node":"\"Mensagem Não Encontrada\"","type":"main","index":0}]]},"\"Mensagem Não Encontrada\"":{"main":[[{"node":"Enviar Resposta WhatsApp","type":"main","index":0}]]},"Enviar Resposta WhatsApp":{"main":[[]]},"Formatar Resposta1":{"main":[[{"node":"Enviar Resposta WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87093836-255c-4bb2-82a6-ac9d62b1d285","triggerCount":1,"tags":[]}