bot_captura_placa-3vpic1kd52f03cl5.json
{"createdAt":"2025-03-24T13:00:49.858Z","updatedAt":"2025-03-24T20:55:48.210Z","id":"3vpic1kd52f03cl5","name":"Bot_Captura_Placa","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"captura1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,-80],"id":"8da74667-eccf-4416-9b37-1fe30da9673a","name":"Webhook","webhookId":"f269c045-4737-46c6-bae6-28a49a697018"},{"parameters":{"assignments":{"assignments":[{"id":"ab745a4a-be38-496a-a73d-0ce54612da5a","name":"message","value":"={{ $json.message.id }}","type":"string"},{"id":"f5f5cd28-5fd0-44ec-8a25-672c12a98702","name":"Grupo","value":"{{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,80],"id":"e032c8de-c1c8-40c0-aa48-9fa9f3c8a048","name":"Extrair CPF ou Placa"},{"parameters":{"operation":"executeQuery","query":"DECLARE @SearchTerm VARCHAR(50);\nSET @SearchTerm = '{{ $json.message }}';\n\nSELECT \n    C.Nome AS [NOME],\n    LTRIM(RTRIM(\n         COALESCE(C.[Endereço], '') +\n         CASE WHEN C.NumCasa IS NOT NULL THEN ', ' + C.NumCasa ELSE '' END +\n         CASE WHEN C.Bairro IS NOT NULL THEN ', ' + C.Bairro ELSE '' END +\n         CASE WHEN C.Cidade IS NOT NULL THEN ', ' + C.Cidade ELSE '' END +\n         CASE WHEN C.Estado IS NOT NULL THEN ', ' + C.Estado ELSE '' END +\n         CASE WHEN C.CEP IS NOT NULL THEN ', ' + C.CEP ELSE '' END\n    )) AS [ENDEREÇO COMPLETO],\n    LTRIM(RTRIM(\n         COALESCE(C.Celular, '') +\n         CASE WHEN C.Fone1 IS NOT NULL THEN '; ' + C.Fone1 ELSE '' END +\n         CASE WHEN C.Fone2 IS NOT NULL THEN '; ' + C.Fone2 ELSE '' END\n    )) AS [CONTATO COMPLETO],\n    C.CGCCPF AS [CPF],\n    C.DiaVencimento AS [DIA DE VENCIMENTO],\n    GV.Placa AS [PLACA],\n    COALESCE(SA.Descrição, C.PlanoMMN) AS [PLANO],\n    ISNULL((SELECT COUNT(*) FROM dbo.ContasReceber WHERE Cliente = C.CodCliente AND Pago = 0), 0) AS [MENSALIDADES EM ABERTO],\n    ISNULL((SELECT SUM(Saldo) FROM dbo.ContasReceber WHERE Cliente = C.CodCliente AND Pago = 0), 0) AS [VALOR DÉBITO]\nFROM dbo.Clientes C\nLEFT JOIN dbo.[ServiçosAdicionais] SA ON SA.CentroResultados = C.CentroResultados\nLEFT JOIN dbo.[GRVeículos] GV ON GV.Cliente = C.CodCliente\nWHERE \n    (\n        -- Compara o CPF removendo possíveis formatações\n        REPLACE(REPLACE(REPLACE(C.CGCCPF, '.', ''), '-', ''), ' ', '') = REPLACE(REPLACE(REPLACE(@SearchTerm, '.', ''), '-', ''), ' ', '')\n        OR \n        -- Compara o CPF mantendo a formatação original\n        C.CGCCPF = @SearchTerm\n    )\n    OR \n    -- Verifica se a placa bate com o valor buscado (case-insensitive)\n    UPPER(GV.Placa) = UPPER(@SearchTerm);\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[0,-80],"id":"8dd0db9c-221d-454b-a498-c30322fd7d34","name":"Consultar Banco de Dados","alwaysOutputData":true,"executeOnce":false,"retryOnFail":false,"credentials":{"microsoftSql":{"id":"pH65BfvKjPWhUKHM","name":"Microsoft SQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c74f7fe-e6d9-4162-adbb-bed88a39a09f","leftValue":"{{ Object.keys($json).length > 0 }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"434ae585-3c35-4a67-8a29-fc628a7ae5fd","leftValue":"{{ $json[\"NOME\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,-80],"id":"d9e370a8-d5d0-49d8-99f7-14369fdccd6d","name":"Verificar Resultado"},{"parameters":{"resource":"messages-api","instanceName":"captura1","remoteJid":"={{ $('If').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.Mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[940,-60],"id":"cc5f21e2-0912-4238-b638-9ef5037f4351","name":"Enviar Resposta WhatsApp","credentials":{"evolutionApi":{"id":"9FEgiE6LKwnEkHz2","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"39dc7a6f-357d-4184-86b4-1e7b6317e3f7","name":"message1","value":"\"Nenhuma informação encontrada para o CPF/Placa fornecido.\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,60],"id":"3537df92-918e-4502-b363-e046658bb84f","name":"\"Mensagem Não Encontrada\""},{"parameters":{"content":"## Resposta\nVerifica se a Placa ou CPF são válidos e envia resposta ","height":580,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,-340],"id":"337b808d-fa6e-47dd-becf-d1586e6410da","name":"Sticky Note"},{"parameters":{"jsCode":"return [{\n  Mensagem: \n    '📌 CAPTURA\\n\\nNOME: ' + ($json[\"NOME\"] || 'Não informado') + \n    '\\nENDEREÇO: ' + ($json[\"ENDEREÇO COMPLETO\"] || 'Não informado') + \n    '\\nCONTATO: ' + ($json[\"CONTATO COMPLETO\"] || 'Não informado') + \n    '\\nPLANO: ' + ($json[\"PLANO\"] || 'Não informado') + \n    '\\nPLACA: ' + ($json[\"PLACA\"] || 'Não informado') + \n    '\\nMENSALIDADES EM ABERTO: ' + ($json[\"MENSALIDADES EM ABERTO\"] || '0') + \n    '\\nVALOR DÉBITO: R$' + ($json[\"VALOR DÉBITO\"] || '0.00')\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-240],"id":"c6a31c82-10b4-48d3-aa9d-2ac9231add14","name":"Formatar Resposta1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48a506ec-d9a3-447e-9c37-41d45c6122f3","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-660,80],"id":"eed136c4-85fb-4dfe-9d0c-9cc47194d6e0","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"e044ccb0-7051-4738-b6d7-ca3a49a81b11","name":"contactinfo.senderName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"d8fdbc03-11c3-4180-9fa9-4c0ee9ac99b5","name":"contactinfo.WhatsappNumber","value":"={{ $json.body.data.key.remoteJid?.split(\"@\")?.first()}}","type":"string"},{"id":"360fe723-a705-49fa-aff1-7445fe567767","name":"message.id","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"3aa33a36-8c76-43b9-8cd2-61aade3f4c00","name":"message.type","value":"={{ !!$json.body.data.message.conversation && 'text'||\n   !!$json.body.data.message.conversation && 'audio'||\n   !!$json.body.data.message.conversation && 'image'||\n   !!$json.body.data.message.conversation && 'sticker'}}","type":"string"},{"id":"1da72ea2-946b-4b75-bedc-f8056fcb74c0","name":"message.receivedDate","value":"={{ DateTime.fromSeconds($json.body.data.messageTimestamp).toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,-140],"id":"7372b669-31d3-4cdd-8351-f611addedf6f","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Consultar Banco de Dados":{"main":[[{"node":"Verificar Resultado","type":"main","index":0}]]},"Verificar Resultado":{"main":[[{"node":"Formatar Resposta1","type":"main","index":0}],[{"node":"\"Mensagem Não Encontrada\"","type":"main","index":0}]]},"\"Mensagem Não Encontrada\"":{"main":[[{"node":"Enviar Resposta WhatsApp","type":"main","index":0}]]},"Enviar Resposta WhatsApp":{"main":[[]]},"Formatar Resposta1":{"main":[[{"node":"Enviar Resposta WhatsApp","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extrair CPF ou Placa":{"main":[[{"node":"Consultar Banco de Dados","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Extrair CPF ou Placa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d18d1c08-4125-40b9-a572-33c4028ef5d1","triggerCount":1,"tags":[]}