chat_telegram-l6z6KCXDYcc88FYt.json
{"createdAt":"2025-03-15T18:21:27.494Z","updatedAt":"2025-03-15T18:47:36.454Z","id":"l6z6KCXDYcc88FYt","name":"chat_telegram","active":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"6c5d934d-d052-4791-b4b3-839bd0a40ae8","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1220,580],"webhookId":"51942fbb-ca0e-4ec4-9423-5fcc7d3c4281","typeVersion":1,"credentials":{"telegramApi":{"id":"OEVyx32eZfdmpvWD","name":"Telegram account"}}},{"parameters":{"dataType":"string","value1":"={{ $json.message?.text }}","rules":{"rules":[{"operation":"notStartsWith","value2":"/"},{"operation":"startsWith","value2":"/start","output":1},{"operation":"startsWith","value2":"=/image ","output":2}]},"fallbackOutput":3},"id":"54c3eede-9b71-4bf6-9372-6ba351eca724","name":"CheckCommand","type":"n8n-nodes-base.switch","position":[-260,600],"typeVersion":1},{"parameters":{"content":"## Error fallback for unsupported commands","height":231.22373949579838,"width":316.1071428571428},"id":"20e62958-dd8b-4a39-a9de-dafcb7db4ad0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[360,840],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"model_temperature","value":0.8},{"name":"token_length","value":500}],"string":[{"name":"system_command","value":"=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."},{"name":"bot_typing","value":"={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"}]},"options":{}},"id":"df2e0ed6-1a78-4d0f-bb20-5030b6c3cac2","name":"Settings","type":"n8n-nodes-base.set","position":[-860,580],"typeVersion":2},{"parameters":{"content":"## Chatbot mode by default\n### (when no command is provided)","height":233,"width":330.5019024637719},"id":"72358dc0-b987-41af-b3f3-446dadf25f07","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Welcome message\n### /start","height":219.892857142857,"width":330.7863484403046},"id":"405c368f-5d99-4bb2-9e65-741719830db1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,260],"typeVersion":1},{"parameters":{"resource":"chat","model":"gpt-4","prompt":{"messages":[{"role":"system","content":"={{ $json.system_command }}"},{"content":"={{ $json.message.text }}"}]},"options":{"maxTokens":"={{ $json.token_length }}","temperature":"={{ $json.model_temperature }}"},"requestOptions":{}},"id":"aa39db96-6290-4c47-a7c5-73d6b1eca1cd","name":"Chat_mode","type":"n8n-nodes-base.openAi","position":[100,80],"typeVersion":1},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"system","content":"={{ $json.system_command }}"},{"content":"=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"}]},"options":{"maxTokens":"={{ $json.token_length }}","temperature":"={{ $json.model_temperature }}"},"requestOptions":{}},"id":"a350f0ea-0e66-4fe6-9ccc-c84e87d4f1c4","name":"Greeting","type":"n8n-nodes-base.openAi","position":[100,320],"typeVersion":1},{"parameters":{"chatId":"={{ $('Settings').first().json.message.from.id }}","text":"={{ $json.message.content }}","additionalFields":{"parse_mode":"Markdown"}},"id":"460756b4-185f-4d21-9911-5c766bacf7dd","name":"Text reply","type":"n8n-nodes-base.telegram","position":[460,200],"typeVersion":1,"webhookId":"ff17b330-d19c-456b-aa18-3e6b6456894c","credentials":{"telegramApi":{"id":"OEVyx32eZfdmpvWD","name":"Telegram account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.from.id }}","action":"={{ $json.bot_typing }}"},"id":"66ec4d95-37f6-4756-928d-bd2141617d5b","name":"Send Typing action","type":"n8n-nodes-base.telegram","position":[-660,720],"typeVersion":1,"webhookId":"3287e160-e35f-4c76-96ad-e54b29dc2850","credentials":{"telegramApi":{"id":"OEVyx32eZfdmpvWD","name":"Telegram account"}}},{"parameters":{"mode":"chooseBranch"},"id":"95c47c45-e5da-452a-ad2a-d2639a754290","name":"Merge","type":"n8n-nodes-base.merge","position":[-440,600],"typeVersion":2.1},{"parameters":{"content":"## Create an image\n### /image + request","height":233.8785714285713,"width":329.7428571428562},"id":"2a0199a4-15e5-4636-9f40-bfc9ec9ae3be","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,520],"typeVersion":1},{"parameters":{"resource":"image","prompt":"={{ $json.message.text.split(' ').slice(1).join(' ') }}","responseFormat":"imageUrl","options":{"n":1,"size":"512x512"},"requestOptions":{}},"id":"5fcaa724-8229-4977-84ab-5fe506c119d6","name":"Create an image","type":"n8n-nodes-base.openAi","position":[100,600],"typeVersion":1},{"parameters":{"chatId":"={{ $json.message.from.id }}","text":"=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`","additionalFields":{"parse_mode":"Markdown"}},"id":"25d97545-8d7e-43a9-8693-5c465ddd4514","name":"Send error message","type":"n8n-nodes-base.telegram","position":[460,920],"typeVersion":1,"webhookId":"95d82a8d-a93d-4d27-b334-5a626d604b86","credentials":{"telegramApi":{"id":"OEVyx32eZfdmpvWD","name":"Telegram account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Settings').first().json.message.from.id }}","file":"={{ $json.url }}","additionalFields":{}},"id":"a970b2c2-e380-47d4-b51a-54cfa6ad2839","name":"Send image","type":"n8n-nodes-base.telegram","position":[460,600],"typeVersion":1,"webhookId":"cb59893b-06c3-42fb-b2ce-eaca191bfdef","credentials":{"telegramApi":{"id":"OEVyx32eZfdmpvWD","name":"Telegram account"}}},{"parameters":{"values":{"string":[{"name":"message.text","value":"={{ $json?.message?.text || \"\" }}"}]},"options":{"dotNotation":true}},"id":"faa48fcc-b419-45eb-a171-db983e3ebd48","name":"PreProcessing","type":"n8n-nodes-base.set","position":[-1040,580],"typeVersion":2}],"connections":{"Merge":{"main":[[{"node":"CheckCommand","type":"main","index":0}]]},"Greeting":{"main":[[{"node":"Text reply","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Send Typing action","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Chat_mode":{"main":[[{"node":"Text reply","type":"main","index":0}]]},"CheckCommand":{"main":[[{"node":"Chat_mode","type":"main","index":0}],[{"node":"Greeting","type":"main","index":0}],[{"node":"Create an image","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"PreProcessing":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Create an image":{"main":[[{"node":"Send image","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"PreProcessing","type":"main","index":0}]]},"Send Typing action":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1ab9408a-5b74-4e80-af9e-1f0c2c0d2b0f","triggerCount":0,"tags":[]}