chat_whatsapp-PMfEDENxmbDGWcLg.json
{"createdAt":"2025-03-15T18:19:19.511Z","updatedAt":"2025-03-15T18:19:19.511Z","id":"PMfEDENxmbDGWcLg","name":"chat_whatsapp","active":false,"nodes":[{"parameters":{"updates":["messages"]},"id":"bf2d08fa-b069-4056-9f72-b9316f03b536","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-760,140],"webhookId":"aaa71f03-f7af-4d18-8d9a-0afb86f1b554","typeVersion":1},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"ba2a825b-1559-47e2-9163-20647a1de47d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-160,220],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"=whatsapp-75-{{ $json.messages[0].from }}"},"id":"c373c255-6d76-4377-be1f-07eff869a68d","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-40,220],"typeVersion":1.2},{"parameters":{"name":"query_product_brochure","description":"Call this tool to query the product brochure. Valid for the year 2024."},"id":"40c34280-630f-4084-b6b7-94e55c2630de","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[80,220],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"b1023950-98d7-4094-92c3-25600c8ea341","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[80,520],"typeVersion":1},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"de916e7c-deb6-46c8-aaf7-713802fad06e","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[320,360],"typeVersion":1},{"parameters":{},"id":"35f8fa79-ee2e-4b39-8f46-ece2ebf0abc3","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-2120,180],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"2118bd1f-a67c-4149-b04e-baf6580a58a8","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-1360,400],"typeVersion":1},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract from File').item.json.text }}","options":{}},"id":"e4240ed6-4e06-4e70-bed8-4d8bf291d8bd","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-1220,400],"typeVersion":1},{"parameters":{"chunkSize":2000,"chunkOverlap":{},"options":{}},"id":"fc9cb655-fc1b-48fa-a0c2-6f8822db9d6c","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-1220,520],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"c26b55b6-b338-417c-8031-089d16069aea","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[-1760,180],"typeVersion":1},{"parameters":{"url":"https://usa.yamaha.com/files/download/brochure/1/1474881/Yamaha-Powered-Loudspeakers-brochure-2024-en-web.pdf","options":{}},"id":"6fc1cfbe-63c4-4bcc-9637-6dd0b1c62bb5","name":"get Product Brochure","type":"n8n-nodes-base.httpRequest","position":[-1940,180],"typeVersion":4.2},{"parameters":{"operation":"send","phoneNumberId":"477115632141067","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{"previewUrl":false},"requestOptions":{}},"id":"35650267-dd43-4473-92aa-2d375e2b0808","name":"Reply To User","type":"n8n-nodes-base.whatsApp","position":[700,140],"typeVersion":1},{"parameters":{"operation":"send","phoneNumberId":"477115632141067","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=I'm unable to process non-text messages. Please send only text messages. Thanks!","additionalFields":{"previewUrl":false},"requestOptions":{}},"id":"fdeceea7-d795-4dd6-a271-f1717cf1c009","name":"Reply To User1","type":"n8n-nodes-base.whatsApp","position":[-360,500],"typeVersion":1},{"parameters":{"memoryKey":"whatsapp-75"},"id":"c3eba3f0-efcd-4897-8880-c4f06030f72e","name":"Product Catalogue","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[0,380],"typeVersion":1},{"parameters":{"content":"## 1. Baixe o PDF do folheto do produto\n[Leia mais sobre a ferramenta de solicitação HTTP](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest)\n\nImporte seu documento PDF de marketing para criar sua loja de vetores. Isso será usado como base de conhecimento pelo Sales AI Agent.\n\nPara esta demonstração, usaremos o nó de solicitação HTTP para importar o folheto YAMAHA POWERED LOUDSPEAKERS 2024 ([Fonte](https://usa.yamaha.com/files/download/brochure/1/1474881/Yamaha-Powered-Loudspeakers-brochure-2024-en-web.pdf)) e um nó Extrair do arquivo para extrair o conteúdo do texto.","height":434.6875,"width":640.4375,"color":7},"id":"17624a1c-4e8f-4275-a4b5-e2a2833abd92","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2200,-80],"typeVersion":1},{"parameters":{"content":"## 2. Crie o Catálogo de Produtos Vector Store\n[Leia mais sobre o In-Memory Vector Store](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreinmemory/)\n\nOs vector stores são bancos de dados poderosos que servem ao propósito de combinar as perguntas de um usuário com partes relevantes de um documento. Ao criar um vector store do nosso catálogo de produtos, permitiremos que os usuários consultem usando linguagem natural.\n\nPara manter as coisas simples, usaremos o **In-memory Vector Store** que vem integrado ao n8n e não requer um serviço separado. Para implantações de produção, eu recomendaria substituir o vector store na memória por [Qdrant](https://qdrant.tech) ou [Pinecone](https://pinecone.io).","height":731.1875,"width":614.6875,"color":7},"id":"84ed7f7a-f709-47a5-beb7-39fd03278bb9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1540,-80],"typeVersion":1},{"parameters":{"mode":"insert","memoryKey":"whatsapp-75","clearStore":true},"id":"cfb2b43f-729f-4132-9459-7de71f7ea3b4","name":"Create Product Catalogue","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[-1360,220],"typeVersion":1},{"parameters":{"content":"## 3. Use o WhatsApp Trigger\n[Saiba mais sobre o WhatsApp Trigger](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.whatsapptrigger/)\n\nO WhatsApp Trigger permite que você receba mensagens de entrada do WhatsApp de clientes. Ele requer um pouco de configuração, então lembre-se de seguir a documentação cuidadosamente! Uma vez pronto, no entanto, é bem fácil construir fluxos de trabalho poderosos que são facilmente acessíveis aos usuários.\n\nObserve que o WhatsApp pode enviar muitos tipos de mensagens, como áudio e vídeo, então nesta demonstração, vamos filtrá-los e apenas aceitar as mensagens de texto.","height":484.1875,"width":546.6875,"color":7},"id":"c6ec6cc2-86a5-4481-aac8-4403dbb6e00e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-860,-140],"typeVersion":1},{"parameters":{"content":"### Quer lidar com todos os tipos de mensagens?\nConfira meu outro modelo do WhatsApp na minha página do criador! https://n8n.io/creators/jimleuk/","height":132,"width":338},"id":"f0e88f78-a691-4d2e-ba2f-0c169ad281bd","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-480,700],"typeVersion":1},{"parameters":{"content":"### 3a. Lidar com tipos de mensagens não suportados\nPara mensagens que não sejam de texto, responderemos apenas com uma mensagem simples para informar o remetente.","height":311.1875,"width":337.6875,"color":7},"id":"381e6d79-03f8-4064-a317-7143a8ba60bf","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-480,380],"typeVersion":1},{"parameters":{"content":"## 4. O agente de IA de vendas responde aos clientes\n[Saiba mais sobre como usar agentes de IA](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/)\n\nOs agentes de IA da n8n são nós poderosos que tornam incrivelmente fácil usar IA de última geração em seus fluxos de trabalho. Eles não só têm a capacidade de lembrar conversas por cliente individual, mas também acessam recursos como nossa loja de vetores de catálogo de produtos para extrair informações e dados factuais para cada pergunta.\n\nNesta demonstração, usamos um agente de IA que é direcionado para ajudar o usuário a navegar no folheto do produto. Um subnó de memória de bate-papo é anexado para identificar e rastrear a sessão do cliente. Uma ferramenta de loja de vetores é adicionada para permitir que o agente acesse a base de conhecimento do catálogo de produtos que construímos anteriormente.","height":929.1875,"width":746.6875,"color":7},"id":"63c3c0c5-b0ea-42c2-8c47-b8bbe2af1be8","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-280,-280],"typeVersion":1},{"parameters":{"content":"## 5. Responder ao usuário do WhatsApp\n[Saiba mais sobre o WhatsApp Node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.whatsapp/)\n\nO WhatsApp Node é o ideal se você deseja interagir com usuários do WhatsApp. Com este nó, você pode enviar mensagens de texto, imagens, áudio e vídeo, bem como usar seus modelos de mensagens do WhatsApp.\n\nAqui, manteremos a simplicidade respondendo com uma mensagem de texto que é a saída do agente de IA.","height":484.1875,"width":495.4375,"color":7},"id":"c4767362-02f4-4a05-995e-91c1d72fcb0d","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[500,-160],"typeVersion":1},{"parameters":{"content":"## Experimente!\n\n### Este modelo n8n cria um chatbot simples do WhatsApp que atua como um agente de vendas. O agente é apoiado por uma loja de vetores de catálogo de produtos para responder melhor às perguntas do usuário.\n\n* Este modelo é dividido em 2 partes: criação da loja de vetores de catálogo de produtos e construção do chatbot de IA do WhatsApp.\n* Um folheto de produto é importado via nó de solicitação HTTP e seu conteúdo de texto é extraído.\n* O conteúdo de texto é então carregado para a loja de vetores na memória para criar uma base de conhecimento para o chatbot.\n* Um gatilho do WhatsApp é usado para capturar mensagens de clientes onde mensagens não textuais são filtradas.\n* A mensagem do cliente é enviada ao agente de IA que consulta o catálogo de produtos usando a ferramenta de loja de vetores.\n* A resposta do agente é enviada de volta ao usuário via nó do WhatsApp.\n\n### Precisa de ajuda?\nParticipe do [Discord](https://discord.com/invite/XPKeKXeB7d) ou pergunte no [Fórum](https://community.n8n.io/)!\n","height":582.6283033962263,"width":401.25},"id":"05b85ab3-e31e-4390-970f-10a4a343d54c","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-2640,-220],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Supported"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"89971d8c-a386-4e77-8f6c-f491a8e84cb6","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Not Supported"}]},"options":{}},"id":"9d29868c-6638-4272-aee7-f7706d399648","name":"Handle Message Types","type":"n8n-nodes-base.switch","position":[-560,140],"typeVersion":3.2},{"parameters":{"content":"### Você só precisa executar esta parte uma vez!\nExecute esta etapa para popular nosso vetor de catálogo de produtos. Execute novamente se quiser atualizar o repositório de vetores com uma nova versão.","height":114.53583720930231,"width":345.10906976744184,"color":5},"id":"3ab5ac53-71a5-4fee-908c-f14c97ad23ab","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-2200,400],"typeVersion":1},{"parameters":{"content":"### Ative seu fluxo de trabalho para usar!\nPara começar a usar o chatbot do WhatsApp, você precisará ativar o fluxo de trabalho. Se você estiver hospedando por conta própria, certifique-se de que o WhatsApp consiga se conectar ao seu servidor.","height":147,"width":365,"color":5},"id":"cf895203-7180-44ce-81fd-6ec131910d27","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-860,380],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"You are an assistant working for a company who sells Yamaha Powered Loudspeakers and helping the user navigate the product catalog for the year 2024. Your goal is not to facilitate a sale but if the user enquires, direct them to the appropriate website, url or contact information.\n\nDo your best to answer any questions factually. If you don't know the answer or unable to obtain the information from the datastore, then tell the user so."}},"id":"c7165a42-88f5-41bf-a842-824e0a15f9dc","name":"AI Sales Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-160,20],"typeVersion":1.6}],"connections":{"AI Sales Agent":{"main":[[{"node":"Reply To User","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Handle Message Types","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Product Catalogue","type":"ai_embedding","index":0}]]},"Extract from File":{"main":[[{"node":"Create Product Catalogue","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Sales Agent","type":"ai_languageModel","index":0}]]},"Product Catalogue":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Sales Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Create Product Catalogue","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Create Product Catalogue","type":"ai_document","index":0}]]},"Handle Message Types":{"main":[[{"node":"AI Sales Agent","type":"main","index":0}],[{"node":"Reply To User1","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Sales Agent","type":"ai_memory","index":0}]]},"get Product Brochure":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"get Product Brochure","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12e9a6ff-87df-4c58-8a40-60343dd9beba","triggerCount":0,"tags":[]}