controle-de-duplicata-DdrVpOvy91YYjdGx.json
{"createdAt":"2025-03-15T16:36:21.429Z","updatedAt":"2025-03-16T15:22:22.103Z","id":"DdrVpOvy91YYjdGx","name":"controle-de-duplicata","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"consultor","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2060,100],"id":"17debcef-7e41-48eb-9c1a-af87b9b8b68b","name":"Webhook","webhookId":"54835e1e-150e-4aa3-a841-6a3cbe8a1c51"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"id":"={{ $json._embedded.leads[0]._embedded.contacts[0].id }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1460,380],"id":"af7df463-30d7-416a-84b4-1dac8b5cc3b4","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.Lead_ID }}"},"options":{"with":["contacts"]},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1660,380],"id":"b4142474-8bb5-41aa-8eb5-280d7d1f66db","name":"Kommo API Node1","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"query":"={{ $json._embedded.contacts[0].custom_fields_values[0].values[0].value }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1260,380],"id":"d52733f4-41e1-4063-b72b-c478f8acb0a7","name":"Kommo API Node2","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"jsCode":"const pipelineIdsPermitidos = [10630032, 10630036];\nconst statusIdsBloqueados = [142, 143];\nconst resultados = [];\nconst leads = items[0]?.json?._embedded?.leads || [];\n\nconsole.log(\"📌 Leads recebidos:\", JSON.stringify(leads, null, 2));\nconsole.log(`📊 Total de leads recebidos: ${leads.length}`);\n\n// Filtra leads com pipeline_id permitido e status_id não bloqueado\nconst leadsFiltrados = leads.filter(lead => \n  pipelineIdsPermitidos.includes(lead.pipeline_id) && \n  !statusIdsBloqueados.includes(lead.status_id)\n);\n\nconsole.log(\"🎯 Leads filtrados:\", JSON.stringify(leadsFiltrados, null, 2));\nconsole.log(`🔍 Total de leads filtrados: ${leadsFiltrados.length}`);\n\n// Prepara o resultado final e adiciona contador\nfor (const lead of leadsFiltrados) {\n  resultados.push({ json: lead });\n}\n\n// Adiciona o total de resultados como campo extra\nconst resultadoFinal = {\n  totalLeadsRecebidos: leads.length,\n  totalLeadsFiltrados: leadsFiltrados.length,\n  totalResultados: resultados.length,\n  resultados\n};\n\nconsole.log(\"✅ Saída Final com contadores:\", JSON.stringify(resultadoFinal, null, 2));\n\nreturn resultadoFinal;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,380],"id":"3de1677d-ba91-4954-9d71-49c600120fb5","name":"Filtro Funil"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e9f9033-ca61-428f-a39b-7fecef507987","leftValue":"={{ $json.totalResultados }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-860,380],"id":"95bffda2-23cf-4f15-bbef-0a9f6d93e996","name":"Verificar se hã mais de um registro"},{"parameters":{"jsCode":"const leadIdDestino = Number($('Edit Fields').first().json.Lead_ID);\nconsole.log(\"Lead ID destino (verificação):\", leadIdDestino);\n\nif (isNaN(leadIdDestino)) {\n  throw new Error(`Lead ID destino não é um número válido: ${$('Edit Fields').first().json.Lead_ID}`);\n}\n\nconst items = $input.first().json.resultados;  // Acessa o array 'resultados'\nconsole.log(\"Leads recebidos:\", items.map(i => i.json.id));  // Imprime todos os IDs dos leads recebidos\n\nconsole.log(\"Lead ID destino:\", leadIdDestino);\n\n// Verifica se o Lead de destino está nos dados recebidos\nconst leadDestino = items.find(item => item.json.id === leadIdDestino);\n\nif (!leadDestino) {\n  throw new Error(`Lead de destino com ID ${leadIdDestino} não encontrado nos dados disponíveis.`);\n}\n\nconst leadsRestantes = items.filter(item => item.json.id !== leadIdDestino);\n\nlet tagsDestino = leadDestino.json._embedded?.tags || [];\n\n// Usando Set para evitar duplicatas de tags\nconst tagIds = new Set(tagsDestino.map(tag => tag.id));\n\nleadsRestantes.forEach(item => {\n  const lead = item.json;\n  if (lead._embedded?.tags) {\n    lead._embedded.tags.forEach(tag => {\n      if (!tagIds.has(tag.id)) {\n        tagIds.add(tag.id);\n        tagsDestino.push(tag);\n      }\n    });\n  }\n});\n\nleadDestino.json._embedded.tags = tagsDestino;\n\nreturn {\n  leadSelecionada: leadDestino.json,\n  leadsRestantes: leadsRestantes.map(item => item.json)\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,240],"id":"ec9d1628-df19-47bd-afdb-53a2f894a0c9","name":"pergar a lead atual e meclar as tags"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $json.leadSelecionada.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81824980\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,0],"id":"da7025ce-32cb-4efc-97fe-8fedf99c83a3","name":"Atualizar Tag Lead"},{"parameters":{"assignments":{"assignments":[{"id":"5597001f-2df1-46fc-9709-ae70f5b3e90b","name":"Lead_ID","value":"={{ $json.body[\"leads[add][0][id]\"] || $json.body[\"leads[status][0][id]\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,240],"id":"577687da-de0b-4cca-865c-b1c4ff767a81","name":"Edit Fields"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,0],"id":"7e3d6b12-d0c2-46ab-9288-021fff6211cb","name":"Pausa","webhookId":"cf9c95cf-23fd-4a78-a1c1-b21aeae1e25b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"873bc6fd-49a2-47eb-b2cd-72c2897b6e48","leftValue":"={{ $json.existeLeadComStatus }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,160],"id":"3cd386b5-2e94-4a31-b1fa-144678a5cd17","name":"If"},{"parameters":{"jsCode":"const leadsRestantes = $json[\"leadsRestantes\"] || [];\nconst leadSelecionada = $json[\"leadSelecionada\"] || {};\n\nconst statusAlvo = [81514956, 81514960, 81514964];\n\nconst leadsComStatusAlvo = leadsRestantes.filter(item => statusAlvo.includes(item.status_id));\n\nconst existeLeadComStatus = leadsComStatusAlvo.length > 0;\n\nreturn {\n  leadSelecionada: leadSelecionada,\n  leadsComStatusAlvo: leadsComStatusAlvo,\n  existeLeadComStatus: existeLeadComStatus\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,240],"id":"4a1252ff-d363-4151-a542-114dfc8e9d82","name":"Trata Leads Duplicados"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,0],"id":"3437bb71-d4fd-4d8c-835e-3941c1d9b392","name":"Wait","webhookId":"a4709e49-bd67-4e2f-a4a3-7fceffd0030c"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $('If').item.json.leadsComStatusAlvo[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81514964\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,0],"id":"2e479113-13bd-4ad3-b852-b5d011366305","name":"Atualizar Tag Lead1"},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"O cliente entrou em contato usando o número de outro consultor.","complete_till":"2025-03-14T00:16:31","entity_id":"={{ $('If').item.json.leadsComStatusAlvo[0].id }}","duration":500}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[800,0],"id":"89d3d67f-2305-4b87-a496-313eb4d980b7","name":"Kommo API Node3","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"O cliente entrou em contato usando o número  consultor.","complete_till":"2025-03-14T00:16:31","responsible_user_id":"={{ $json.resultados[0].json.responsible_user_id }}","entity_id":"={{ $json.resultados[0].json.id }}","duration":500}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-580,460],"id":"ff4a1d87-c441-47dc-a50d-7953dff02e69","name":"Kommo API Node4","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $json.leadSelecionada.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81824980\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,160],"id":"1591648d-6abe-46d9-ae3b-79104a832d53","name":"Atualizar Tag Lead2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,160],"id":"eb2b6cdc-0e5b-464b-b0b8-b83eaff67fd0","name":"Wait1","webhookId":"a4709e49-bd67-4e2f-a4a3-7fceffd0030c"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $('If').item.json.leadsComStatusAlvo[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81514964\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,160],"id":"c065b5cf-dffb-4eb6-98dc-1dbab9c63e3c","name":"Atualizar Tag Lead3"},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"O cliente entrou em contato usando o número de outro consultor.","complete_till":"2025-03-14T00:16:31","entity_id":"={{ $('If').item.json.leadsComStatusAlvo[0].id }}","duration":500}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[500,160],"id":"7e043c84-70b3-442c-b94e-e1c6438dfd88","name":"Kommo API Node5","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Kommo API Node1":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]},"Kommo API Node":{"main":[[{"node":"Kommo API Node2","type":"main","index":0}]]},"Kommo API Node2":{"main":[[{"node":"Filtro Funil","type":"main","index":0}]]},"Filtro Funil":{"main":[[{"node":"Verificar se hã mais de um registro","type":"main","index":0}]]},"Verificar se hã mais de um registro":{"main":[[{"node":"pergar a lead atual e meclar as tags","type":"main","index":0}],[{"node":"Kommo API Node4","type":"main","index":0}]]},"pergar a lead atual e meclar as tags":{"main":[[{"node":"Trata Leads Duplicados","type":"main","index":0}]]},"Atualizar Tag Lead":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Kommo API Node1","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Atualizar Tag Lead","type":"main","index":0}]]},"Trata Leads Duplicados":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Pausa","type":"main","index":0}],[{"node":"Atualizar Tag Lead2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Atualizar Tag Lead1","type":"main","index":0}]]},"Atualizar Tag Lead1":{"main":[[{"node":"Kommo API Node3","type":"main","index":0}]]},"Atualizar Tag Lead2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Atualizar Tag Lead3","type":"main","index":0}]]},"Atualizar Tag Lead3":{"main":[[{"node":"Kommo API Node5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f7ae54a-aac8-4222-9623-0bc49e05d01f","triggerCount":1,"tags":[{"createdAt":"2025-03-15T16:20:59.241Z","updatedAt":"2025-03-15T16:20:59.241Z","id":"Fr6uI2dZIJw0jVyw","name":"CRX"}]}