controle-de-duplicata-(resposta-já)-WvQ7nyVycTnZAG9o.json
{"createdAt":"2025-03-15T16:39:29.692Z","updatedAt":"2025-03-18T18:37:06.644Z","id":"WvQ7nyVycTnZAG9o","name":"controle-de-duplicata-(resposta-já)","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"respostaJa","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2480,40],"id":"2742cff6-06c8-4d03-8f15-160a65e26a2c","name":"Webhook","webhookId":"9d58d0b9-ebba-44c6-9944-6acc5ddd8a66"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"id":"={{ $json._embedded.leads[0]._embedded.contacts[0].id }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1880,180],"id":"cac1c6d1-767f-427e-9582-5cc135f76816","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.Lead_ID }}"},"options":{"with":["contacts"]},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-2080,180],"id":"7650d0e6-5edf-4ce2-9feb-4a1eda128d9f","name":"Kommo API Node1","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"query":"={{ $json._embedded.contacts[0].custom_fields_values[0].values[0].value }}"},"options":{},"limit":250},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1680,180],"id":"599877bb-0290-481a-a333-260bbb8fca14","name":"Kommo API Node2","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"jsCode":"const pipelineIdsPermitidos = [10630032, 10630036, 10630220];\nconst statusIdsBloqueados = [142, 143];\nconst resultados = [];\nconst leads = items[0]?.json?._embedded?.leads || [];\n\nconsole.log(\"📌 Leads recebidos:\", JSON.stringify(leads, null, 2));\nconsole.log(`📊 Total de leads recebidos: ${leads.length}`);\n\n// Filtra leads com pipeline_id permitido e status_id não bloqueado\nconst leadsFiltrados = leads.filter(lead => \n  pipelineIdsPermitidos.includes(lead.pipeline_id) && \n  !statusIdsBloqueados.includes(lead.status_id)\n);\n\nconsole.log(\"🎯 Leads filtrados:\", JSON.stringify(leadsFiltrados, null, 2));\nconsole.log(`🔍 Total de leads filtrados: ${leadsFiltrados.length}`);\n\n// Prepara o resultado final e adiciona contador\nfor (const lead of leadsFiltrados) {\n  resultados.push({ json: lead });\n}\n\n// Adiciona o total de resultados como campo extra\nconst resultadoFinal = {\n  totalLeadsRecebidos: leads.length,\n  totalLeadsFiltrados: leadsFiltrados.length,\n  totalResultados: resultados.length,\n  resultados\n};\n\nconsole.log(\"✅ Saída Final com contadores:\", JSON.stringify(resultadoFinal, null, 2));\n\nreturn resultadoFinal;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1480,180],"id":"e7191edc-83e4-44c5-84d9-ca12d846dc3c","name":"Filtro Funil"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e9f9033-ca61-428f-a39b-7fecef507987","leftValue":"={{ $json.totalResultados }}","rightValue":null,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,180],"id":"c506014b-1e33-4568-bacf-56dcd5d6015f","name":"Verificar se hã mais de um registro"},{"parameters":{"jsCode":"const leadIdDestino = Number($('Edit Fields').first().json.Lead_ID);\nconsole.log(\"Lead ID destino (verificação):\", leadIdDestino);\n\nif (isNaN(leadIdDestino)) {\n  throw new Error(`Lead ID destino não é um número válido: ${$('Edit Fields').first().json.Lead_ID}`);\n}\n\nconst items = $input.first().json.resultados;  // Acessa o array 'resultados'\nconsole.log(\"Leads recebidos:\", items.map(i => i.json.id));  // Imprime todos os IDs dos leads recebidos\n\nconsole.log(\"Lead ID destino:\", leadIdDestino);\n\n// Verifica se o Lead de destino está nos dados recebidos\nconst leadDestino = items.find(item => item.json.id === leadIdDestino);\n\nif (!leadDestino) {\n  throw new Error(`Lead de destino com ID ${leadIdDestino} não encontrado nos dados disponíveis.`);\n}\n\nconst leadsRestantes = items.filter(item => item.json.id !== leadIdDestino);\n\nlet tagsDestino = leadDestino.json._embedded?.tags || [];\n\n// Usando Set para evitar duplicatas de tags\nconst tagIds = new Set(tagsDestino.map(tag => tag.id));\n\nleadsRestantes.forEach(item => {\n  const lead = item.json;\n  if (lead._embedded?.tags) {\n    lead._embedded.tags.forEach(tag => {\n      if (!tagIds.has(tag.id)) {\n        tagIds.add(tag.id);\n        tagsDestino.push(tag);\n      }\n    });\n  }\n});\n\nleadDestino.json._embedded.tags = tagsDestino;\n\nreturn {\n  leadSelecionada: leadDestino.json,\n  leadsRestantes: leadsRestantes.map(item => item.json)\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,40],"id":"9e458a0b-d07b-43c9-8293-2e7bed5d3b03","name":"pergar a lead atual e meclar as tags"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $json.leadSelecionada.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"responsible_user_id\": {{ $json.leadsComStatusAlvo[0].responsible_user_id }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,-200],"id":"af8b6e79-3934-4b7d-afe1-4dcb733f1998","name":"Atualizar Tag Lead"},{"parameters":{"assignments":{"assignments":[{"id":"5597001f-2df1-46fc-9709-ae70f5b3e90b","name":"Lead_ID","value":"={{ $json.body[\"leads[add][0][id]\"] || $json.body[\"leads[status][0][id]\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2260,40],"id":"f432425c-8dab-4f82-a27c-793c2f710bd6","name":"Edit Fields"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-420,-200],"id":"9fbf63ff-fc8b-4aab-8850-fa4348ead521","name":"Pausa","webhookId":"d52c2770-d910-4222-b652-9da0cea75116"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"873bc6fd-49a2-47eb-b2cd-72c2897b6e48","leftValue":"={{ $json.existeLeadComStatus }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,-40],"id":"9ea49e83-688c-4f2e-a066-f63175fcab57","name":"If"},{"parameters":{"jsCode":"const leadsRestantes = $json[\"leadsRestantes\"] || [];\nconst leadSelecionada = $json[\"leadSelecionada\"] || {};\n\nconst statusAlvo = [81514956, 81514960, 81514964];\n\nconst leadsComStatusAlvo = leadsRestantes.filter(item => statusAlvo.includes(item.status_id));\n\nconst existeLeadComStatus = leadsComStatusAlvo.length > 0;\n\nreturn {\n  leadSelecionada: leadSelecionada,\n  leadsComStatusAlvo: leadsComStatusAlvo,\n  existeLeadComStatus: existeLeadComStatus\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,40],"id":"4e6292d5-fb50-400b-b7bc-eab905e84154","name":"Trata Leads Duplicados"},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","collection":{"task":[{"text":"O cliente entrou em contato usando o número  consultor.","complete_till":"2025-03-14T00:16:31","responsible_user_id":"={{ $json.resultados[0].json.responsible_user_id }}","entity_id":"={{ $json.resultados[0].json.id }}","duration":500}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-980,300],"id":"8f56144a-3b8a-4679-aa7d-843e45599992","name":"Kommo API Node4","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"jsCode":"// A partir da estrutura JSON inicial\nconst inputData = items[0].json; // Os dados de entrada conforme recebidos no n8n\n\n// Parse da estrutura interna que é uma string JSON\nconst parsedData = JSON.parse(inputData.data);\n\n// Mapeia e organiza os dados\nconst structuredData = {\n  pipelines: parsedData._embedded.pipelines.map(pipeline => ({\n    pipeline_id: pipeline.id,\n    pipeline_name: pipeline.name,\n    statuses: pipeline._embedded.statuses.map(status => ({\n      status_id: status.id,\n      status_name: status.name,\n      sort: status.sort,\n      color: status.color\n    }))\n  }))\n};\n\n// Retorna o resultado mapeado para ser usado em nós posteriores no n8n\nreturn [{ json: structuredData }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,620],"id":"c5e32fad-f55f-44fb-9e4c-28e5dd2c0381","name":"Code"},{"parameters":{"method":"PATCH","url":"=https://crx.kommo.com/api/v4/leads/{{ $json.leadSelecionada.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAxMjAwYzNjYjNkNWU5MTgzZjQ5OTU2NWVkNzE1NjU3ZDZiNTI0Mzk2YWIxMzM2ZDcxMDAyYmExNWU4ZDVjNjljNjNmODdiNTNiODNjNDU2In0.eyJhdWQiOiIxMjlkNmY4NC1iOGMxLTQ0NTUtYWE2NS03ODBiZWI5OTg1YzkiLCJqdGkiOiIwMTIwMGMzY2IzZDVlOTE4M2Y0OTk1NjVlZDcxNTY1N2Q2YjUyNDM5NmFiMTMzNmQ3MTAwMmJhMTVlOGQ1YzY5YzYzZjg3YjUzYjgzYzQ1NiIsImlhdCI6MTc0MTQ2MzQ4NCwibmJmIjoxNzQxNDYzNDg0LCJleHAiOjE4OTkxNTg0MDAsInN1YiI6IjkwMTM5MDciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzA4MDMzMDcsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiJjOGExY2M1MC0yZmNmLTQ0ZmQtOWQ0Yy1jMGMzNzliZWYxNzYiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.FGgCnFLEK2Dxj2F9Lzz8jndSOUNHk0CHAUEUa7vFaDMenNjO9TM9bbKGCgF5MjQDDEjLR--wx6BSt4eupoUw9dDGdev_4V9DEF6W50WaVshMhpxgNBUkcMF6pZOvTpM9TD3ecsaAG4cePfH2K5zmIo5IYKMr8SZaKXxDEAfJEuzWmXUaYRNPrElYbXIP-Kgs1ESOVtf_EcYloSkRdyY_Cn8AoIsxq8_-MUVjJx_2OGHPqtJrPk0Hes1MgomjAnsqW1BF2JCaaJrYf31cQkzK_gS9O2-5BiHrB3FS77wyEDWlt8O85aENo9IqmMx7ALy_e1ghVyKNdo3vKv3LEtCVwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status_id\": 81514944\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,440],"id":"af0fb91e-d855-489b-af37-49200d43e52a","name":"Atualizar Tag Lead2"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Kommo API Node1":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]},"Kommo API Node":{"main":[[{"node":"Kommo API Node2","type":"main","index":0}]]},"Kommo API Node2":{"main":[[{"node":"Filtro Funil","type":"main","index":0}]]},"Filtro Funil":{"main":[[{"node":"Verificar se hã mais de um registro","type":"main","index":0}]]},"Verificar se hã mais de um registro":{"main":[[{"node":"pergar a lead atual e meclar as tags","type":"main","index":0}],[{"node":"Kommo API Node4","type":"main","index":0}]]},"pergar a lead atual e meclar as tags":{"main":[[{"node":"Trata Leads Duplicados","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Kommo API Node1","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Atualizar Tag Lead","type":"main","index":0}]]},"Trata Leads Duplicados":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Pausa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code":[{"json":{"pipelines":[{"pipeline_id":6907423,"pipeline_name":"INBOUND","statuses":[{"status_id":57878419,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":57937931,"status_name":"ENTRADA","sort":20,"color":"#ff8f92"},{"status_id":75219768,"status_name":"RETORNO DE FOLLOW-UP","sort":30,"color":"#99ccff"},{"status_id":58643543,"status_name":"CONTATO INICIAL","sort":40,"color":"#99ccff"},{"status_id":57937935,"status_name":"qualificação e agendamento","sort":50,"color":"#deff81"},{"status_id":72276848,"status_name":"Reunião agendada","sort":60,"color":"#99ccff"},{"status_id":57878427,"status_name":"no show","sort":70,"color":"#ffff99"},{"status_id":58663231,"status_name":"NEGOCIAÇÃO / OBJECÇÃO","sort":80,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":6303231,"pipeline_name":"CLIENTES DA BASE (LTV)","statuses":[{"status_id":54160143,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":62794872,"status_name":"CARTEIRA DE CLIENTES","sort":20,"color":"#99ccff"},{"status_id":75177760,"status_name":"AUTOATENDIMENTO","sort":30,"color":"#99ccff"},{"status_id":75967136,"status_name":"Whatsapp crx","sort":40,"color":"#99ccff"},{"status_id":62139860,"status_name":"ENTRADA LTV","sort":50,"color":"#d6eaff"},{"status_id":64796020,"status_name":"fOLLOW UP DA BASE","sort":60,"color":"#deff81"},{"status_id":64796024,"status_name":"PÓS VENDAS (cs)","sort":70,"color":"#ffce5a"},{"status_id":54160151,"status_name":"conexao (aBORDAGEM DO NEGOCIO CONSULTIVA)","sort":80,"color":"#fffd7f"},{"status_id":60160416,"status_name":"DIAGNOSTICO / reunião agendada","sort":90,"color":"#99ccff"},{"status_id":54160155,"status_name":"oferta (aps produto/ORÇAMENTO)","sort":100,"color":"#ffce5a"},{"status_id":55063975,"status_name":"NEGOCIAÇÃO","sort":110,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9776964,"pipeline_name":"DISPOSITIVOS","statuses":[{"status_id":75177404,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":76610344,"status_name":"ENTRADA","sort":20,"color":"#99ccff"},{"status_id":75219784,"status_name":"RETORNO DE FOLLOW-UP","sort":30,"color":"#99ccff"},{"status_id":76610348,"status_name":"CONTATO INICIAL","sort":40,"color":"#99ccff"},{"status_id":75177412,"status_name":"QUALIFICAÇÃO/AGENDAMENTO","sort":50,"color":"#ffff99"},{"status_id":76610352,"status_name":"REUNIÃO AGENDADA","sort":60,"color":"#99ccff"},{"status_id":76610356,"status_name":"NO SHOW","sort":70,"color":"#99ccff"},{"status_id":75177416,"status_name":"OBJEÇÃO","sort":80,"color":"#ffcc66"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9832936,"pipeline_name":"TRACKCEO","statuses":[{"status_id":75548836,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75548840,"status_name":"ENTRADA","sort":20,"color":"#99ccff"},{"status_id":75548844,"status_name":"RETORNO DE FOLLOW UP","sort":30,"color":"#ffff99"},{"status_id":75548848,"status_name":"CONTATO INICIAL","sort":40,"color":"#ffcc66"},{"status_id":75549156,"status_name":"QUALIFICAÇÃO E AGENDAMENTO","sort":50,"color":"#f9deff"},{"status_id":75549160,"status_name":"REUNIÃO AGENDADA","sort":60,"color":"#f9deff"},{"status_id":75549164,"status_name":"NO SHOW","sort":70,"color":"#ffc8c8"},{"status_id":75549168,"status_name":"NEGOCIAÇÃO E OBJEÇÃO","sort":80,"color":"#87f2c0"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9777300,"pipeline_name":"MENTORIA","statuses":[{"status_id":75180368,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75180372,"status_name":"entrada","sort":20,"color":"#99ccff"},{"status_id":75219864,"status_name":"RETORNO DE FOLLOW-UP","sort":30,"color":"#99ccff"},{"status_id":75180376,"status_name":"contato inicial","sort":40,"color":"#ffff99"},{"status_id":75180380,"status_name":"qualificação e agendamento","sort":50,"color":"#ffcc66"},{"status_id":75745644,"status_name":"reunião agendada","sort":60,"color":"#99ccff"},{"status_id":75745648,"status_name":"no show","sort":70,"color":"#99ccff"},{"status_id":75745652,"status_name":"objeção","sort":80,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9777316,"pipeline_name":"FRANQUIA","statuses":[{"status_id":75180576,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75180580,"status_name":"Initial Contact","sort":20,"color":"#99ccff"},{"status_id":75219944,"status_name":"RETORNO DE FOLLOW-UP","sort":30,"color":"#99ccff"},{"status_id":75180720,"status_name":"plano de viabilidade","sort":40,"color":"#99ccff"},{"status_id":75180584,"status_name":"documentação + cof","sort":50,"color":"#ffff99"},{"status_id":75180588,"status_name":"imersão","sort":60,"color":"#ffcc66"},{"status_id":75180724,"status_name":"pagamento","sort":70,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9782848,"pipeline_name":"FOLLOW UP - Dispositivos","statuses":[{"status_id":75216048,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75216052,"status_name":"Initial Contact","sort":20,"color":"#99ccff"},{"status_id":75216056,"status_name":"PONTO DE CONTATO 1","sort":30,"color":"#ffff99"},{"status_id":75216060,"status_name":"PONTO DE CONTATO 2","sort":40,"color":"#ffcc66"},{"status_id":75216588,"status_name":"PONTO DE CONTATO 3","sort":50,"color":"#99ccff"},{"status_id":75216592,"status_name":"PONTO DE CONTATO 4","sort":60,"color":"#99ccff"},{"status_id":75216596,"status_name":"PONTO DE CONTATO 5","sort":70,"color":"#99ccff"},{"status_id":75216600,"status_name":"PONTO DE CONTATO 6","sort":80,"color":"#99ccff"},{"status_id":75216604,"status_name":"PONTO DE CONTATO 7","sort":90,"color":"#99ccff"},{"status_id":75216608,"status_name":"PONTO DE CONTATO 8","sort":100,"color":"#99ccff"},{"status_id":75216612,"status_name":"PONTO DE CONTATO 9","sort":110,"color":"#99ccff"},{"status_id":75216616,"status_name":"etapa final","sort":120,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9782852,"pipeline_name":"FOLLOW UP - Trackceo","statuses":[{"status_id":75216120,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75216124,"status_name":"Initial Contact","sort":20,"color":"#99ccff"},{"status_id":75216128,"status_name":"PONTO DE CONTATO 1","sort":30,"color":"#ffff99"},{"status_id":75216132,"status_name":"PONTO DE CONTATO 2","sort":40,"color":"#ffcc66"},{"status_id":75216656,"status_name":"PONTO DE CONTATO 3","sort":50,"color":"#99ccff"},{"status_id":75216660,"status_name":"PONTO DE CONTATO 4","sort":60,"color":"#99ccff"},{"status_id":75216664,"status_name":"PONTO DE CONTATO 5","sort":70,"color":"#99ccff"},{"status_id":75216668,"status_name":"PONTO DE CONTATO 6","sort":80,"color":"#99ccff"},{"status_id":75216672,"status_name":"PONTO DE CONTATO 7","sort":90,"color":"#99ccff"},{"status_id":75216676,"status_name":"PONTO DE CONTATO 8","sort":100,"color":"#99ccff"},{"status_id":75216680,"status_name":"PONTO DE CONTATO 9","sort":110,"color":"#99ccff"},{"status_id":75216684,"status_name":"etapa final","sort":120,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9782856,"pipeline_name":"FOLLOW UP  - Mentoria","statuses":[{"status_id":75216136,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75216140,"status_name":"Initial Contact","sort":20,"color":"#99ccff"},{"status_id":75216144,"status_name":"PONTO DE CONTATO 1","sort":30,"color":"#ffff99"},{"status_id":75216148,"status_name":"PONTO DE CONTATO 2","sort":40,"color":"#ffcc66"},{"status_id":75216756,"status_name":"PONTO DE CONTATO 3","sort":50,"color":"#99ccff"},{"status_id":75216760,"status_name":"PONTO DE CONTATO 4","sort":60,"color":"#99ccff"},{"status_id":75216764,"status_name":"PONTO DE CONTATO 5","sort":70,"color":"#99ccff"},{"status_id":75216768,"status_name":"PONTO DE CONTATO 6","sort":80,"color":"#99ccff"},{"status_id":75216772,"status_name":"PONTO DE CONTATO 7","sort":90,"color":"#99ccff"},{"status_id":75216776,"status_name":"PONTO DE CONTATO 8","sort":100,"color":"#99ccff"},{"status_id":75216780,"status_name":"PONTO DE CONTATO 9","sort":110,"color":"#99ccff"},{"status_id":75216784,"status_name":"etapa final","sort":120,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":9782860,"pipeline_name":"FOLLOW UP - Franquia","statuses":[{"status_id":75216156,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75216160,"status_name":"Initial Contact","sort":20,"color":"#99ccff"},{"status_id":75216164,"status_name":"PONTO DE CONTATO 1","sort":30,"color":"#ffff99"},{"status_id":75216168,"status_name":"PONTO DE CONTATO 2","sort":40,"color":"#ffcc66"},{"status_id":75216804,"status_name":"PONTO DE CONTATO 3","sort":50,"color":"#99ccff"},{"status_id":75216808,"status_name":"PONTO DE CONTATO 4","sort":60,"color":"#99ccff"},{"status_id":75216812,"status_name":"PONTO DE CONTATO 5","sort":70,"color":"#99ccff"},{"status_id":75216816,"status_name":"PONTO DE CONTATO 6","sort":80,"color":"#99ccff"},{"status_id":75216820,"status_name":"PONTO DE CONTATO 7","sort":90,"color":"#99ccff"},{"status_id":75216824,"status_name":"PONTO DE CONTATO 8","sort":100,"color":"#99ccff"},{"status_id":75216828,"status_name":"PONTO DE CONTATO 9","sort":110,"color":"#99ccff"},{"status_id":75216832,"status_name":"etapa final","sort":120,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":6746431,"pipeline_name":"SUPORTE TÉCNICO","statuses":[{"status_id":56856139,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75708736,"status_name":"LTV","sort":20,"color":"#99ccff"},{"status_id":75169808,"status_name":"DISTRIBUIÇÃO","sort":30,"color":"#99ccff"},{"status_id":56856143,"status_name":"em atendimento Yuri","sort":40,"color":"#99ccff"},{"status_id":75710528,"status_name":"em atendimento andré","sort":50,"color":"#f3beff"},{"status_id":56856151,"status_name":"NãO RESOLVEU","sort":60,"color":"#ff8f92"},{"status_id":62835540,"status_name":"RESOLVIDO","sort":70,"color":"#87f2c0"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":7752400,"pipeline_name":"SUPORTE FINANCEIRO","statuses":[{"status_id":62836040,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":75708816,"status_name":"LTV","sort":20,"color":"#99ccff"},{"status_id":75169712,"status_name":"distribuição","sort":30,"color":"#99ccff"},{"status_id":62836044,"status_name":"com demanda","sort":40,"color":"#99ccff"},{"status_id":62836048,"status_name":"nao resolveu","sort":50,"color":"#ff8f92"},{"status_id":62836052,"status_name":"resolveu","sort":60,"color":"#87f2c0"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":6468519,"pipeline_name":"REDE SOCIAL","statuses":[{"status_id":55064143,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":58476491,"status_name":"DIAGNOSTICO DA INTERAÇÃO","sort":20,"color":"#99ccff"},{"status_id":55064147,"status_name":"ELOGIO","sort":30,"color":"#99ccff"},{"status_id":55064151,"status_name":"INTERAÇÃO","sort":40,"color":"#ffff99"},{"status_id":55064155,"status_name":"RECLAMAÇÃO EM CONTATO","sort":50,"color":"#ffcc66"},{"status_id":55078327,"status_name":"RECLAMAÇÃO RESOLVIDA","sort":60,"color":"#99ccff"},{"status_id":55078331,"status_name":"RECLAMAÇÃO NÃO RESOLVIDA","sort":70,"color":"#99ccff"},{"status_id":66219804,"status_name":"QUalificado / distribuição","sort":80,"color":"#87f2c0"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":6485363,"pipeline_name":"Email","statuses":[{"status_id":55156435,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":55156439,"status_name":"Contato inicial","sort":20,"color":"#99ccff"},{"status_id":55156443,"status_name":"Oferta feita","sort":30,"color":"#ffff99"},{"status_id":55156447,"status_name":"Negociação","sort":40,"color":"#ffcc66"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":6746483,"pipeline_name":"AGENDA ADM","statuses":[{"status_id":56856431,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":56856435,"status_name":"ADM","sort":20,"color":"#99ccff"},{"status_id":56856439,"status_name":"COLABORADOR","sort":30,"color":"#ffff99"},{"status_id":56856443,"status_name":"FORNECEDOR","sort":40,"color":"#ffcc66"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":7023995,"pipeline_name":"REMARKETING - SEM CONTATO","statuses":[{"status_id":58564995,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":58564999,"status_name":"Contato inicial","sort":20,"color":"#99ccff"},{"status_id":58565003,"status_name":"Oferta feita","sort":30,"color":"#ffff99"},{"status_id":58565007,"status_name":"Negociação","sort":40,"color":"#ffcc66"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":10494440,"pipeline_name":"FUNIL DE EVENTOS","statuses":[{"status_id":80472364,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":80472368,"status_name":"ENTRADA","sort":20,"color":"#99ccff"},{"status_id":80472372,"status_name":"CONTATO INICIAL","sort":30,"color":"#ffff99"},{"status_id":80472376,"status_name":"CONECTADOS","sort":40,"color":"#ffcc66"},{"status_id":80472540,"status_name":"OBJEÇÃO","sort":50,"color":"#f9deff"},{"status_id":80472544,"status_name":"LINK NA RUA ","sort":60,"color":"#87f2c0"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":10630032,"pipeline_name":"INBOUND (novo)","statuses":[{"status_id":81514936,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":81845824,"status_name":"ENTRADA","sort":20,"color":"#99ccff"},{"status_id":81514940,"status_name":"RETORNO DE FOLLOW UP","sort":30,"color":"#99ccff"},{"status_id":81514944,"status_name":"CONEXÃO","sort":40,"color":"#ffff99"},{"status_id":81514948,"status_name":"ACOMPANHAMENTO","sort":50,"color":"#ffcc66"},{"status_id":81515676,"status_name":"REUNIÃO AGENDADA","sort":60,"color":"#99ccff"},{"status_id":82013064,"status_name":"NO SHOW","sort":70,"color":"#ff8f92"},{"status_id":81515680,"status_name":"ORÇAMENTO","sort":80,"color":"#eb93ff"},{"status_id":81515684,"status_name":"FECHAMENTO","sort":90,"color":"#ff8f92"},{"status_id":142,"status_name":"venda ganha","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"venda perdida","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":10630036,"pipeline_name":"BASE (novo)","statuses":[{"status_id":81514952,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":82066016,"status_name":"ENTRADA","sort":20,"color":"#99ccff"},{"status_id":81514956,"status_name":"PRIMEIRA COMPRA","sort":30,"color":"#99ccff"},{"status_id":81514960,"status_name":"CARTEIRA DE CLIENTES","sort":40,"color":"#ffff99"},{"status_id":81514964,"status_name":"CONEXÃO","sort":50,"color":"#ffcc66"},{"status_id":81515560,"status_name":"ACOMPANHAMENTO","sort":60,"color":"#99ccff"},{"status_id":81515564,"status_name":"ORÇAMENTO","sort":70,"color":"#eb93ff"},{"status_id":81515568,"status_name":"FECHAMENTO","sort":80,"color":"#ffc8c8"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":10630040,"pipeline_name":"CRX EDUC (novo)","statuses":[{"status_id":81514968,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":81514972,"status_name":"RETORNO FOLLOW UP","sort":20,"color":"#99ccff"},{"status_id":81514976,"status_name":"CONEXÃO","sort":30,"color":"#ffff99"},{"status_id":81514980,"status_name":"ACOMPANHAMENTO","sort":40,"color":"#ffcc66"},{"status_id":81515244,"status_name":"REUNIÃO AGENDADA","sort":50,"color":"#ffc8c8"},{"status_id":81515248,"status_name":"ORÇAMENTO","sort":60,"color":"#87f2c0"},{"status_id":81515252,"status_name":"FECHAMENTO","sort":70,"color":"#eb93ff"},{"status_id":142,"status_name":"VENDA GANHA","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"VENDA PERDIDA","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":10630220,"pipeline_name":"RESPOSTA JÁ","statuses":[{"status_id":81516228,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":81976416,"status_name":"ENTRADA","sort":20,"color":"#99ccff"},{"status_id":82287084,"status_name":"LTV","sort":30,"color":"#99ccff"},{"status_id":81516232,"status_name":"AUTOATENDIMENTO","sort":40,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]},{"pipeline_id":10668272,"pipeline_name":"Teste T.I","statuses":[{"status_id":81799764,"status_name":"Incoming leads","sort":10,"color":"#c1c1c1"},{"status_id":81824980,"status_name":"Controle de Leads","sort":20,"color":"#99ccff"},{"status_id":142,"status_name":"Closed - won","sort":10000,"color":"#CCFF66"},{"status_id":143,"status_name":"Closed - lost","sort":11000,"color":"#D5D8DB"}]}]}}]},"versionId":"189cba43-c966-4885-9d8b-d1c558e6356f","triggerCount":1,"tags":[{"createdAt":"2025-03-15T16:20:59.241Z","updatedAt":"2025-03-15T16:20:59.241Z","id":"Fr6uI2dZIJw0jVyw","name":"CRX"}]}