crx-summit-6oM62y43ZnnFstsF.json
{"createdAt":"2025-03-15T14:49:34.784Z","updatedAt":"2025-03-16T15:22:10.025Z","id":"6oM62y43ZnnFstsF","name":"crx-summit","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"teste-crx-summit","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,-400],"id":"34d55e45-c335-4c16-9fc9-61c91b3ffd76","name":"Webhook","webhookId":"0da5af0f-5528-4674-91d6-f4e5059d07e1"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","operation":"createContacts","collection":{"contact":[{"name":"={{ $json.nome }}","first_name":"=","responsible_user_id":12190300,"created_by":9013907,"updated_by":9013907,"custom_fields_values":{"custom_field":[{"data":"{\"id\":737988,\"type\":\"multitext\"}","value":"={{ $json.telefone }}"},{"data":"{\"id\":737990,\"type\":\"multitext\"}","value":"={{ $json.email }}"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[0,-400],"id":"d4356c26-c3b6-4f71-a507-aacdeb066679","name":"Criar contato","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst updatedItems = items.map(item => {\n  let telefone = item.json.telefone;\n  if (telefone && telefone.length === 11) {\n    telefone = telefone.slice(0, 2) + telefone.slice(3);\n  }\n\n  if (!telefone.startsWith('+55')) {\n    telefone = '+55' + telefone;\n  }\n\n  item.json.telefone = telefone;\n\n  const tipoTickert = item.json.tipoTickert;\n  let valorIngresso;\n\n  if (tipoTickert === 'formblack') {\n    item.json.tipoTickert = 'CRX SUMMIT - Black';\n    valorIngresso = 897.00; // Valor do plano Black\n  } else if (tipoTickert === 'formvip') {\n    item.json.tipoTickert = 'CRX SUMMIT - Vip';\n    valorIngresso = 397.00; // Valor do plano Vip\n  } else if (tipoTickert === 'formexecutivo') {\n    item.json.tipoTickert = 'CRX SUMMIT - Executivo';\n    valorIngresso = 147.00; // Valor do plano Executivo\n  }\n\n  item.json.valorIngresso = valorIngresso;\n\n  return item;\n});\n\nreturn updatedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,-400],"id":"928c761e-dc64-437c-8dcf-224aa54f107e","name":"Correção de Fontes1"},{"parameters":{"assignments":{"assignments":[{"id":"6d6f93c1-4e74-4660-b138-9016b65ca68c","name":"nome","value":"={{ $json.body[\"fields[name][value]\"] || $json.body.Nome }}","type":"string"},{"id":"c3f16fff-af14-484b-9275-d72018da6613","name":"email","value":"={{ $json.body[\"fields[message][value]\"] || $json.body[\"E-mail\"] }}","type":"string"},{"id":"e466ba01-ddb9-4200-bc4d-a56a26020567","name":"telefone","value":"={{ $json.body[\"fields[email][raw_value]\"] || $json.body.Telefone }}","type":"string"},{"id":"ef38cf23-aa67-44ae-8a14-15d603da0df8","name":"tipoTickert","value":"={{ $json.body[\"form[name]\"] || $json.body.form_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,-400],"id":"4300dbd4-61c7-460d-81d8-e9b0b24aba16","name":"DadosMapeados"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"createLeads","collection":{"lead":[{"name":"={{ $('Correção de Fontes1').item.json.nome }}","price":"={{ $('Correção de Fontes1').item.json.valorIngresso }}","pipeline_id":10494440,"status_id":82354088,"created_by":9013907,"updated_by":9013907,"responsible_user_id":12190300,"_embedded":{"tags":[{"id":"={{ $('Correção de Fontes1').item.json.tipoTickert }}"},{"id":[123773]}],"contacts":[{"id":{"contact":[{"id":"={{ $json._embedded.contacts[0].id }}"}]}}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[260,-400],"id":"45aa988f-45ca-477d-a2bd-ac0f1eff063f","name":"Kommo API Node","credentials":{"kommoLongLivedApi":{"id":"bAY5SbE7BxTGCzcZ","name":"Kommo Long Lived Token account"}}}],"connections":{"Webhook":{"main":[[{"node":"DadosMapeados","type":"main","index":0}]]},"DadosMapeados":{"main":[[{"node":"Correção de Fontes1","type":"main","index":0}]]},"Criar contato":{"main":[[{"node":"Kommo API Node","type":"main","index":0}]]},"Correção de Fontes1":{"main":[[{"node":"Criar contato","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8nwebhook.cearatec.cloud","user-agent":"WordPress/6.7.2; https://crx.com.br","content-length":"1442","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"45.148.96.21","cf-ipcountry":"BR","cf-ray":"920d2e63ad6daf5c-GRU","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"45.148.96.21, 172.71.6.92","x-forwarded-host":"n8nwebhook.cearatec.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2d40452d35ae","x-real-ip":"172.71.6.92"},"params":{},"query":{},"body":{"form[id]":"a182f70","form[name]":"formexecutivo","fields[name][id]":"name","fields[name][type]":"text","fields[name][title]":"Nome","fields[name][value]":"Teste Clenildon","fields[name][raw_value]":"Teste Clenildon","fields[name][required]":"0","fields[email][id]":"email","fields[email][type]":"tel","fields[email][title]":"Telefone","fields[email][value]":"86986930095","fields[email][raw_value]":"86986930095","fields[email][required]":"1","fields[message][id]":"message","fields[message][type]":"email","fields[message][title]":"E-mail","fields[message][value]":"clenildonferreira34@gmail.com","fields[message][raw_value]":"clenildonferreira34@gmail.com","fields[message][required]":"0","meta[date][title]":"Data","meta[date][value]":"15 de março de 2025","meta[time][title]":"Horário","meta[time][value]":"12:52","meta[page_url][title]":"URL da página","meta[page_url][value]":"https://crx.com.br/crx-summit/#ingresso","meta[user_agent][title]":"Agente de usuário","meta[user_agent][value]":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36","meta[remote_ip][title]":"IP remoto","meta[remote_ip][value]":"45.5.142.222","meta[credit][title]":"Desenvolvido por","meta[credit][value]":"Elementor"},"webhookUrl":"https://n8nwebhook.cearatec.cloud/webhook/teste-crx-summit","executionMode":"production"}}]},"versionId":"df41440d-030f-400b-9c1d-6e7a49dda7d4","triggerCount":1,"tags":[{"createdAt":"2025-03-15T16:20:59.241Z","updatedAt":"2025-03-15T16:20:59.241Z","id":"Fr6uI2dZIJw0jVyw","name":"CRX"}]}