ia-responde-documentos-wco3THt7xuZa9dgU.json
{"createdAt":"2025-03-16T19:21:05.507Z","updatedAt":"2025-03-16T19:46:41.081Z","id":"wco3THt7xuZa9dgU","name":"IA responde documentos","active":false,"nodes":[{"parameters":{"mode":"retrieve-as-tool","pineconeIndex":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"991324a6-dd3e-4729-86c2-c05353811ab3","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[0,100],"typeVersion":1,"credentials":{"pineconeApi":{"id":"zwXdYTef2OFSUehA","name":"PineconeApi account"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"7969c7f5-1a3a-42eb-89c8-eddb01204cc3","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-60,540],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"TO9lyskLsj0bFOZY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"id":"e66f8815-8542-4dbb-8743-6b6877f3ed86","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[180,420],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"2e544691-d692-498b-b279-10f812c43db5","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[120,680],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""}},"id":"26b64e4b-1f61-4d8a-a01b-f566f7b1b97f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-260,940],"typeVersion":1.7},{"parameters":{"name":"company_documents_tool","description":"Retrieve information from any company documents"},"id":"39e5b099-4983-43fd-9e98-947d1561e5b2","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[140,1160],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"41c06b95-067b-41ce-8dd5-257c3e21e4ba","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[40,1340],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"5576812c-97e8-459d-9832-d3763ee8977b","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[20,1500],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"TO9lyskLsj0bFOZY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"c3c2659d-297e-4b22-b020-316dc00553b2","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-220,100],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}},{"parameters":{"content":"## Converse com documentos da empresa"},"id":"74aca73c-afcf-4489-97c4-210b306ea4ea","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-260,760],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFile","fileToWatch":{"__rl":true,"value":"1Dux_5NBeOZ7Ee-vg3mZ57bPUMaEIQWajfLq-RkfGc_E","mode":"list","cachedResultName":"Cópia de NPS PABX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Dux_5NBeOZ7Ee-vg3mZ57bPUMaEIQWajfLq-RkfGc_E/edit?usp=drivesdk"}},"id":"d3719e99-d1e7-4eee-aeaf-a403912b9ce1","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-540,240],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Pg5ZDCAQJDuEnisDXObW-swZvJShkCk-","mode":"list","cachedResultName":"Documentos","cachedResultUrl":"https://drive.google.com/drive/folders/1Pg5ZDCAQJDuEnisDXObW-swZvJShkCk-"},"event":"fileUpdated","options":{}},"id":"8c4d1fc5-2d63-4d3d-b0f4-4e77e04d6c66","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-540,-20],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}},{"parameters":{},"id":"345e642e-402d-41f1-948b-ec5c8603a420","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-180,1240],"typeVersion":1.3},{"parameters":{"options":{}},"id":"477d7451-caaf-46b3-b367-bd19da060582","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-600,940],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Adicionar documentos ao armazenamento de vetores ao atualizar ou criar novos documentos no Google Drive","height":200,"width":320},"id":"df0352c8-784d-4148-8343-2c2114f07435","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-240,-140],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"cca6c00b-dc57-4822-b6b1-0776640ebe4e","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-360,1240],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"TO9lyskLsj0bFOZY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"9a66af6f-378d-4970-9b75-83ffa8618894","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[400,1340],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"TO9lyskLsj0bFOZY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Etapas de configuração\n\n1. Projeto do Google Cloud e API do Vertex AI:\n* Crie um projeto do Google Cloud.\n* Habilite a API do Vertex AI para seu projeto.\n2. Chave da API do Google AI:\n* Obtenha uma chave da API do Google AI no Google AI Studio.\n3. Conta Pinecone:\n* Crie uma conta gratuita no site da Pinecone.\n\nObtenha sua chave da API no painel do Pinecone.\n\n* Crie um índice chamado company-files no seu projeto Pinecone.\n\n4. Google Drive:\n* Crie uma pasta dedicada no seu Google Drive onde os documentos da empresa serão armazenados.\n\n5. Credenciais no n8n: Configure as credenciais no seu ambiente n8n para:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (usando sua chave da API do Google AI)\n* Pinecone API (usando sua chave da API do Pinecone)\n5. Importe o fluxo de trabalho:\n* Importe este fluxo de trabalho para sua instância do n8n.\n\n6. Configure o fluxo de trabalho:\n* Atualize ambos os nós do Google Drive Trigger para monitorar a pasta específica que você criou no seu Google Drive.\n* Configure os nós do Pinecone Vector Store para usar o índice de arquivos da sua empresa.","height":820,"width":420},"id":"87da37e9-fe1f-4a57-b77c-23fcc6b3403d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1220,320],"typeVersion":1}],"connections":{"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a15cacd-2cbd-4581-9693-c8875ffd44d9","triggerCount":0,"tags":[]}