ler_documentos-kD2SQeXh2iZ5x9Ox.json
{"createdAt":"2025-03-16T20:13:25.327Z","updatedAt":"2025-03-17T01:03:37.438Z","id":"kD2SQeXh2iZ5x9Ox","name":"Ler_documentos","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,-60],"id":"95102553-8d8e-4ccc-be48-2713dcc00272","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"e2bb3579-d980-4ff4-a8ff-f25765372176","name":"file_id","value":"11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-60],"id":"78c91eb2-6b63-4c7f-a204-cf13a010d4c0","name":"Set file_id"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-20,-120],"id":"53096be5-da09-428d-b45d-d93783dc3556","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[240,-100],"id":"37664da7-bb8a-45fe-9395-e2dac202f312","name":"Extract from File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[360,240],"id":"20f2db3b-f080-459e-a02e-093697c90903","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"icLZwG73tUY83J9Q","name":"OpenAi DeepSeek1"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[600,220],"id":"2b46cdd6-88e5-476b-a406-a9cfa4dfa23d","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[640,460],"id":"fb52576a-d00e-44ed-a73b-8c9d9a29a38f","name":"Recursive Character Text Splitter"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[560,-20],"id":"6dde18c0-08f1-452d-9aea-79751ea24919","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"dPisjwCzMagVtbEl","name":"Supabase RAG1"}}},{"parameters":{"documentId":{"__rl":true,"value":"11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8","mode":"list","cachedResultName":"NPS PABX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Telefonia Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,100],"id":"618c7aa4-d875-4ffc-b691-10f96122c9b2","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Y4BWgUtHoRT5bGwC","name":"Google Sheets account RAMOS"}}},{"parameters":{"agent":"conversationalAgent","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-940,340],"id":"90c40036-94e1-49af-87ec-db2f1e31553e","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-580,500],"id":"0516b504-e2b9-4d78-b0b3-61733ad4ef37","name":"When chat message received","webhookId":"7fddd318-257b-4292-97c9-6c58f00d9698"},{"parameters":{"model":"deepseek-r1-distill-qwen-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-560,800],"id":"8fb7d050-33d3-4327-912e-84155dfc293a","name":"Groq Chat Model","credentials":{"groqApi":{"id":"ZDZHmVogY3xl8Ddy","name":"Groq account"}}},{"parameters":{"contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[-340,840],"id":"64be3c4a-5f6d-4d34-8c4f-3fcc63d963c2","name":"Redis Chat Memory","credentials":{"redis":{"id":"rIRgTEbOqbECbRnh","name":"Redis account"}}},{"parameters":{"mode":"retrieve-as-tool","pineconeIndex":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[80,840],"id":"29cc9920-e97c-47b8-b68b-91c02c338eb7","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"zwXdYTef2OFSUehA","name":"PineconeApi account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-300,1020],"id":"9c22be8a-420e-461f-a2f0-ce260226fdf6","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"dPisjwCzMagVtbEl","name":"Supabase RAG1"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-60,580],"id":"f535bacc-ffdf-43d2-b090-90effa722fd6","name":"AI Agent1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Set file_id","type":"main","index":0}]]},"Set file_id":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Drive":{"main":[[]]},"Extract from File":{"main":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Supabase Vector Store1":{"main":[[]]},"Google Sheets":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5096486d-f951-4f76-9783-d064f5489f92","triggerCount":0,"tags":[]}