my-workflow-IJKP3aqiKC0wdTe1.json
{"createdAt":"2025-03-16T00:07:18.489Z","updatedAt":"2025-03-16T00:07:18.489Z","id":"IJKP3aqiKC0wdTe1","name":"My workflow","active":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"f637165c-d6bb-4e55-9a93-fbd3a84d6d1b","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[240,240],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"1fa404ff-ac8d-4684-9844-dc2444252340","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[200,520],"typeVersion":1},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"1b13f8b7-a7d0-4afe-a7f7-dac8d670851d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[400,460],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"6bdfe3aa-0f61-4d55-97d0-0406c4bf1085","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[380,660],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""}},"id":"7e1deec7-826a-423f-b9f0-d3c1f2401841","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-20,1080],"typeVersion":1.7},{"parameters":{"name":"company_documents_tool","description":"Retrieve information from any company documents"},"id":"f6791f02-dc77-40b1-a955-1cad4c8bc944","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[380,1300],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"cdcefd91-0f86-478b-a60c-66662d0c6637","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[280,1480],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"00ae98c5-a404-4ff7-9baf-867cd32b5f06","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[260,1640],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"9fa8ec73-3130-4a0b-b6c8-6aaa9286ead3","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[20,240],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}},{"parameters":{"content":"## Chat with company documents"},"id":"4a171b5a-2b62-4aaa-94e6-a9013304c16f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-20,900],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultUrl":"https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultName":"INNOVI PRO"},"event":"fileUpdated","options":{}},"id":"bb303b8a-6bb4-4d8e-a21b-a067d5171874","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-300,380],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultUrl":"https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultName":"INNOVI PRO"},"event":"fileCreated","options":{"fileType":"all"}},"id":"43ff7afa-2c80-4201-a107-bb8efbbef7a9","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-300,120],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}},{"parameters":{},"id":"d8b36a4b-9550-4ff6-8557-7a987f148e70","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[60,1380],"typeVersion":1.3},{"parameters":{"options":{}},"id":"d1a94d3c-49b4-426d-983e-cd3569c35f20","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-360,1080],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Add docuemnts to vector store when updating or creating new documents in Google Drive","width":320},"id":"ec2bca65-c24f-43f7-b78c-ea83974b6a80","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"c41de184-705b-4624-9e01-adc64cd02df7","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-120,1380],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"8adf5e48-d219-4338-937a-999fda5f4717","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[640,1480],"typeVersion":1},{"parameters":{"content":"## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.","height":720,"width":420},"id":"80f7617d-c931-4f7a-868c-0100feaf3a50","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-980,460],"typeVersion":1}],"connections":{"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4ed5e478-e924-47f8-a55c-d6b69ed495e4","triggerCount":0,"tags":[]}