nps-pabx-goto---grupo-ramos-ZsTTzr4wYtTIDC2Q.json
{"createdAt":"2025-03-15T16:11:17.413Z","updatedAt":"2025-03-18T18:57:36.387Z","id":"ZsTTzr4wYtTIDC2Q","name":"NPS PABX GoTo - Grupo RAMOS","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"nps02_teste","options":{}},"id":"2a542e65-e7e9-4e04-8562-23bd2c3f44e2","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2100,120],"webhookId":"7dfa6834-557b-4040-b361-022a7e383e75"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bca732c9-3102-42d7-8fe8-bedede0ca0b9","leftValue":"={{ $json.body.direction }}","rightValue":"INBOUND","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1900,120],"id":"6845466b-7a38-49ab-b1c9-fe921fb161e9","name":"If"},{"parameters":{"jsCode":"// Função para formatar o timestamp no formato brasileiro DD/MM/YYYY HH:mm:ss\nfunction formatTimestamp(timestamp) {\n    const date = new Date(timestamp);\n    const options = {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit',\n        hour12: false,\n        timeZone: 'America/Fortaleza'\n    };\n    return date.toLocaleString('pt-BR', options).replace(',', ''); // Remove a vírgula entre data e hora\n}\n\n// Função para garantir que se uma lista estiver vazia, preencha com \"N/A\"\nfunction fillWithNA(dataArray) {\n    return dataArray.length > 0 ? dataArray : [\"N/A\"];\n}\n\n// Função para extrair participantes do tipo \"AGENT\" e dados de chamadas em estado \"STARTING\"\nfunction extractAgentsAndCallData(items) {\n    const participants = items[0].json.body.participants || []; // Acessa os participantes ou um array vazio\n    const callStates = items[0].json.body.callStates || []; // Acessa estados das chamadas ou um array vazio\n\n    // Inicializa os arrays para armazenar resultados\n    let callData = [];\n\n    // Iterar sobre os estados das chamadas para extrair dados\n    callStates.forEach(state => {\n        if (state.type === \"STARTING\") {\n            callData.push({\n                dataHora: formatTimestamp(state.timestamp), // Formata o timestamp\n                participants: fillWithNA(state.participants.map(participant => {\n                    // Extrai o nome, o número de extensão e o número do callee\n                    return {\n                        nameEmpresa: participant.type.name || \"N/A\",\n                        numeroEmpresa: participant.type.number || \"N/A\",\n                        numeroClient: participant.type.caller?.number || \"N/A\" // Utilizando optional chaining (?.)\n                    };\n                }))\n            });\n        }\n    });\n\n    // Preenche com \"N/A\" se agentes ou dados de chamadas estiverem vazios\n    return {\n        callData: fillWithNA(callData)\n    };\n}\n\n// Função principal para processar os dados e retornar resultados\nfunction processItems(items) {\n    const results = [];\n    const participantsData = items; // Recebe dados para processar como entrada\n\n    // Verifica se o JSON contém a mensagem de erro\n    if (participantsData[0].json.body.message === 'Nenhuma opção encontrada.') {\n        results.push({ message: 'Nenhuma opção encontrada. Tente outra busca.' });\n    } else {\n        // Extract ramal and operador when destinationNumber is \"1008\"\n        let participantsNumberData = []; // Inicializa array para armazenar números de destino\n\n        // Itera por cada entrada de dados\n        for (const data of participantsData) {\n            // Acessa os estados de todos os participantes em cada estado da chamada\n            for (const callState of data.json.body.callStates) {\n                const participants = callState.participants; // Acessa a lista de participantes\n                \n                // Itera pelos participantes e coleta os dados quando o status é \"IN_DIRECT_TRANSFER\"\n                for (const participant of participants) {\n                    if (participant.status && participant.status.value === \"IN_DIRECT_TRANSFER\") {\n                        // Acessa o número de destino e o nome do iniciador\n                        const destinationNumber = participant.status.destination?.number || null;\n                        const ramal = participant.status.initiator?.extensionNumber || null;\n                        const operador = participant.status.initiator?.name || null;\n\n                        // Verifica se o destinationNumber é igual a 1008\n                        if (destinationNumber === \"1000\") {\n                            // Cria um objeto com as informações do ramal e operador\n                            const numberInfo = {\n                                name: operador,\n                                ramal: ramal\n                            };\n\n                            participantsNumberData.push(numberInfo); // Armazena os dados encontrados\n                            break; // Para a execução após encontrar o primeiro registro com destinationNumber igual a 1008\n                        }\n                    }\n                }\n                // Encerra o loop das chamadas se um registro foi encontrado\n                if (participantsNumberData.length > 0) {\n                    break;\n                }\n            }\n        }\n\n        // Verifica os sistemas de resposta interativa\n        const ivrs = participantsData[0].json.body.interactiveVoiceResponseSystems || [];\n        const callStates = participantsData[0].json.body.callStates || [];\n\n        // Verificando os estados de chamada para capturar possíveis opções\n        callStates.forEach((state) => {\n            if (state.interactiveVoiceResponseSystems) {\n                state.interactiveVoiceResponseSystems.forEach((ivr) => {\n                    // Verifica se o valor da opção está presente nos detalhes do nó\n                    if (ivr.type.currentNode && ivr.type.currentNode.option) {\n                        results.push({\n                            id: ivr.id,\n                            option: ivr.type.currentNode.option,\n                            type: ivr.type.value\n                        });\n                    }\n                });\n            }\n        });\n\n        // Se nenhum sistema ou opção foi encontrado\n        if (results.length === 0) {\n            results.push({ message: 'Nenhuma opção disponível. A pesquisa não foi respondida.' });\n        }\n\n        // Retorna também os dados do ramal e operador quando destinationNumber é \"1008\"\n        return {\n            option: results,\n            agents: participantsNumberData.slice(0, 1),\n            callData: extractAgentsAndCallData(participantsData).callData\n        };\n    }\n\n    // Retornar os dados processados\n    const extractedData = extractAgentsAndCallData(items);\n    return {\n        option: results,\n        callData: extractedData.callData\n    };\n}\n\n// Chama a função principal e retorna os resultados\nreturn processItems(items);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,20],"id":"7b0281bb-eef6-4377-afd1-c142e34ea3c4","name":"Dados PABX2"},{"parameters":{"jsCode":"/**\n * Formata o timestamp no formato brasileiro DD/MM/YYYY HH:mm:ss\n * @param {string} timestamp - Data e hora em formato ISO\n * @returns {string} - Data formatada\n */\nfunction formatTimestamp(timestamp) {\n    const date = new Date(timestamp);\n    const options = {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit',\n        hour12: false,\n        timeZone: 'America/Fortaleza'\n    };\n    return date.toLocaleString('pt-BR', options).replace(',', ''); // Remove a vírgula entre data e hora\n}\n\n/**\n * Preenche um array vazio com \"N/A\"\n * @param {Array} dataArray - Array de dados\n * @returns {Array} - Retorna o array ou [\"N/A\"]\n */\nfunction fillWithNA(dataArray) {\n    return dataArray.length > 0 ? dataArray : [\"N/A\"];\n}\n\n/**\n * Extrai participantes do tipo \"LINE\" e dados de chamadas em estado \"ACTIVE\"\n * @param {Array} items - Lista de itens do JSON\n * @returns {Object} - Contém agentes e dados de chamadas\n */\nfunction extractAgentsAndCallData(items) {\n    const participants = items[0].json.body.participants || [];\n    const callStates = items[0].json.body.callStates || [];\n\n    let agents = [];\n    let callData = [];\n\n    // Iterar sobre os participantes para extrair AGENTS\n    participants.forEach(participant => {\n        if (participant.type && participant.type.value === \"LINE\") {\n            agents.push({\n                name: participant.type.name || \"N/A\",\n                ramal: participant.type.extensionNumber || \"N/A\"\n            });\n        }\n    });\n\n      // Iterar sobre os estados das chamadas para extrair dados\n    callStates.forEach(state => {\n        if (state.type === \"ACTIVE\") {\n            const phoneNumbers = state.participants.filter(participant => participant.type.value === \"PHONE_NUMBER\");\n\n            // Verifica se temos ao menos um PHONE_NUMBER e um LINE\n            if (phoneNumbers.length > 0 && agents.length > 0) {\n                // Pesquisa o primeiro participante com informações válidas\n                const validParticipants = state.participants.map(participant => ({\n                    nameEmpresa: participant.type.name || \"N/A\",\n                    numeroEmpresa: participant.type.number || \"N/A\",\n                    numeroClient: participant.type.callee?.number || \"N/A\"\n                }));\n\n                // Encontra o primeiro participante que não é \"N/A\"\n                const firstValidParticipant = validParticipants.find(p => p.nameEmpresa !== \"N/A\" && p.numeroEmpresa !== \"N/A\" && p.numeroClient !== \"N/A\");\n                \n                // Se um participante válido for encontrado, adiciona à callData\n                if (firstValidParticipant) {\n                    callData.push({\n                        dataHora: formatTimestamp(state.timestamp),\n                        participants: [firstValidParticipant] // Armazena somente o primeiro participante válido\n                    });\n                }\n            }\n        }\n    });\n\n    return {\n        agents: fillWithNA(agents),\n        callData: fillWithNA(callData)\n    };\n}\n\n/**\n * Processa os itens e retorna os resultados.\n * @param {Array} items - Lista de itens do JSON\n * @returns {Object} - Dados processados\n */\nfunction processItems(items) {\n    const results = [];\n\n    if (items[0].json.body.message === 'Nenhuma opção encontrada.') {\n        results.push({ message: 'Nenhuma opção encontrada. Tente outra busca.' });\n    } else {\n        const ivrs = items[0].json.body.interactiveVoiceResponseSystems || [];\n        const callStates = items[0].json.body.callStates || [];\n\n        callStates.forEach((state) => {\n            state.interactiveVoiceResponseSystems?.forEach((ivr) => {\n                if (ivr.type.currentNode && ivr.type.currentNode.option) {\n                    results.push({\n                        id: ivr.id,\n                        option: ivr.type.currentNode.option,\n                        type: ivr.type.value\n                    });\n                }\n            });\n        });\n\n        if (results.length === 0) {\n            results.push(null);\n        }\n    }\n\n    const extractedData = extractAgentsAndCallData(items);\n    return {\n        option: results,\n        agents: extractedData.agents,\n        callData: extractedData.callData\n    };\n}\n\n// Chama a função principal e retorna os resultados\nreturn processItems(items);\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,220],"id":"14fc04b6-b721-4abd-8048-2a0ca1da2acd","name":"Dados PABX"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Telefonia Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11gka6tXU8F_wFlrKRdP6Eg3nDuD7e93tZWvfZUFStV8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Operador":"={{ $json.Operador }}","Ramal":"={{ $json.Ramal }}","Numero Empresa":"={{ $json[\"Numero Empresa\"] }}","Empresa":"={{ $json.Empresa }}","Numero Cliente":"={{ $json[\"Numero Cliente\"] }}","Nota":"={{ $json.Nota }}","Protocolo":"={{ $json.Protocolo }}","Tipo de Ligação":"={{ $json[\"Status Ligação\"] }}","Setor":"={{ $json.Setor }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","ID_Linha":"={{ $json.ID_Linha }}"},"matchingColumns":[],"schema":[{"id":"Protocolo","displayName":"Protocolo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo de Ligação","displayName":"Tipo de Ligação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Operador","displayName":"Operador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ramal","displayName":"Ramal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Empresa","displayName":"Empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Numero Empresa","displayName":"Numero Empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Numero Cliente","displayName":"Numero Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Setor","displayName":"Setor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_Linha","displayName":"ID_Linha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ea3231a4-4350-49b1-8a07-e4dc9cfd7b37","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[40,440],"alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"oQRxLxfNhDapUiHQ","name":"Google Sheets account Clenildon"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Separar a data e a hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        \n        // Formatar a data e a hora\n        const dataFormatada = data; // você pode formatar a data se necessário\n        const horaFormatada = hora; // mantendo a hora sem alterações\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado ou criar novos campos\n        item.json[\"Data\"] = dataFormatada;\n        item.json[\"Hora\"] = horaFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data\"] = \"Data inválida\";\n        item.json[\"Hora\"] = \"Hora inválida\";\n    }\n\n    // Gerar um protocolo único\n    const now = new Date();\n    const dateCompact = now.getFullYear().toString().slice(2) +\n        String(now.getMonth() + 1).padStart(2, '0') +\n        String(now.getDate()).padStart(2, '0') +\n        String(now.getHours()).padStart(2, '0') +\n        String(now.getMinutes()).padStart(2, '0');\n    const randomPart = Math.floor(Math.random() * 100000).toString().padStart(5, '0');\n    const protocolo = `${dateCompact}${randomPart}`;\n    \n    // Adicionar o campo \"Protocolo\" com o valor único\n    item.json.Protocolo = protocolo;\n}\n\nreturn $input.all();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,-100],"id":"de1c4a8d-2942-43ec-8eb2-6dfcb1809db9","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c47f7053-bec6-4e50-b691-79e1fed5407f","leftValue":"={{ $json.Nota }}","rightValue":3,"operator":{"type":"number","operation":"lte"}},{"id":"924c6666-9a78-465d-9882-471ce7a52c26","leftValue":"={{ $json.Nota }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-120,-220],"id":"da4c0e95-de18-498d-94f8-ad5ae53e00f9","name":"Filter2"},{"parameters":{"sendTo":"sac@cearagps.com.br ","subject":"=Relatório de Avaliação Negativa - Protocolo {{ $json.Protocolo }}","message":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Relatório de Avaliação - Atendimento</title>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f3f4f6;\n            color: #333;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 40px auto;\n            background-color: #ffffff;\n            padding: 30px;\n            border-radius: 10px;\n            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n        }\n\n        h1 {\n            font-size: 24px;\n            color: #4a5568;\n            text-align: center;\n            margin-bottom: 20px;\n            border-bottom: 2px solid #e2e8f0;\n            padding-bottom: 10px;\n        }\n\n        p {\n            margin: 10px 0;\n            line-height: 1.6;\n        }\n\n        .highlight {\n            color: #e53e3e; /* Vermelho para a nota */\n            font-weight: bold;\n        }\n\n        .details {\n            margin-top: 20px;\n            padding: 20px;\n            background-color: #f7fafc;\n            border: 1px solid #e2e8f0;\n            border-radius: 8px;\n        }\n\n        .details p {\n            margin: 5px 0;\n        }\n\n        .details p strong {\n            color: #2d3748;\n        }\n\n        .footer {\n            text-align: center;\n            margin-top: 20px;\n            font-size: 14px;\n            color: #718096;\n        }\n\n        .footer strong {\n            color: #2d3748;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Relatório de Avaliação - Atendimento</h1>\n        <p>Prezado(a),</p>\n        <p>O cliente com número <span><b>{{ $json['Numero Cliente'] }}</b></span> avaliou negativamente o atendimento realizado na ligação de <span><b>{{ $json['Data Hora'] }}</b></span>, atribuindo a nota <span class=\"highlight\">{{ $json.Nota }}</span>.</p>\n        <div class=\"details\">\n            <p><strong>Detalhes da Ligação:</strong></p>\n            <p><strong>Operador:</strong> {{ $json.Operador }}</p>\n            <p><strong>Ramal:</strong> {{ $json.Ramal }}</p>\n            <p><strong>Empresa:</strong> {{ $json.Empresa }}</p>\n            <p><strong>Número da Empresa:</strong> {{ $json['Numero Empresa'] }}</p>\n            <p><strong>Número do Cliente:</strong> {{ $json['Numero Cliente'] }}</p>\n            <p><strong>Nota:</strong> <span class=\"highlight\">{{ $json.Nota }}</span></p>\n            <p><strong>Tipo da Ligação:</strong> {{ $json['Status Ligação'] }}</p>\n            <p><strong>Protocolo:</strong> {{ $json.Protocolo }}</p>\n        </div>\n        <p>Por favor, verifique o caso para possíveis ações de melhoria.</p>\n        <div class=\"footer\">\n            <p>Atenciosamente,</p>\n            <p><strong>T.I Grupo Ramos</strong></p>\n        </div>\n    </div>\n</body>\n</html>\n\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[80,-220],"id":"6cbc5a75-6060-4009-84cb-632054a0769a","name":"Gmail","webhookId":"e55b441d-2b6d-4aeb-a9f4-d92141c875bc","credentials":{"gmailOAuth2":{"id":"uZK9AXgcbkul3sVE","name":"Gmail account Clenildon"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c8814f5-bb23-45fc-bb5f-bae6d314ca08","name":"Data Hora","value":"={{ $json.callData[0].dataHora }}","type":"string"},{"id":"db26c79b-0455-4dfb-83c6-4f1d1ac645b5","name":"Operador","value":"={{ $json.agents[0].name }}","type":"string"},{"id":"ba9b4a58-5eaf-4192-bf44-de7c2269f1db","name":"Ramal","value":"={{ $json.agents[0].ramal }}","type":"string"},{"id":"c1b0cea3-f133-4960-bc9d-3e991d13a049","name":"Empresa","value":"={{ $json.callData[0].participants[0].nameEmpresa }}","type":"string"},{"id":"de7a6c02-c40a-4f46-82f0-8ecdabf89da7","name":"Numero Empresa","value":"={{ $json.callData[0].participants[0].numeroEmpresa }}","type":"string"},{"id":"8613468b-9b16-45fe-b9b9-720b680833e8","name":"Numero Cliente","value":"={{ $json.callData[0].participants[0].numeroClient }}","type":"string"},{"id":"7f7a91cd-a3e5-4bb3-9c78-86f31133edb4","name":"Nota","value":"={{ $json.option[1].option}}","type":"number"},{"id":"7ee79f91-a97a-4bdf-a120-140c2979fc0c","name":"Protocolo","value":"","type":"string"},{"id":"f1123190-d5c0-4687-9e32-e6d6e2840599","name":"Status Ligação","value":"Receptiva","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,-20],"id":"6f2ce673-8c81-48ed-beb0-0e186bcc7074","name":"Formatando Dados - Recepitiva"},{"parameters":{"assignments":{"assignments":[{"id":"0c8814f5-bb23-45fc-bb5f-bae6d314ca08","name":"Data Hora","value":"={{ $json.callData[0].dataHora }}","type":"string"},{"id":"db26c79b-0455-4dfb-83c6-4f1d1ac645b5","name":"Operador","value":"={{ $json.agents[0].name }}","type":"string"},{"id":"ba9b4a58-5eaf-4192-bf44-de7c2269f1db","name":"Ramal","value":"={{ $json.agents[0].ramal }}","type":"string"},{"id":"c1b0cea3-f133-4960-bc9d-3e991d13a049","name":"Empresa","value":"={{ $json.callData[0].participants[0].nameEmpresa }}","type":"string"},{"id":"de7a6c02-c40a-4f46-82f0-8ecdabf89da7","name":"Numero Empresa","value":"={{ $json.callData[0].participants[0].numeroEmpresa }}","type":"string"},{"id":"8613468b-9b16-45fe-b9b9-720b680833e8","name":"Numero Cliente","value":"={{ $json.callData[0].participants[0].numeroClient }}","type":"string"},{"id":"7f7a91cd-a3e5-4bb3-9c78-86f31133edb4","name":"Nota","value":"={{ $json.option[0].option}}","type":"number"},{"id":"7ee79f91-a97a-4bdf-a120-140c2979fc0c","name":"Protocolo","value":"","type":"string"},{"id":"f1123190-d5c0-4687-9e32-e6d6e2840599","name":"Status Ligação","value":"Ativa","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1480,260],"id":"69203479-2034-445d-adff-50b13c96b4f0","name":"Formatando Dados Ativa"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Separar a data e a hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        \n        // Formatar a data e a hora\n        const dataFormatada = data; // você pode formatar a data se necessário\n        const horaFormatada = hora; // mantendo a hora sem alterações\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado ou criar novos campos\n        item.json[\"Data\"] = dataFormatada;\n        item.json[\"Hora\"] = horaFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data\"] = \"Data inválida\";\n        item.json[\"Hora\"] = \"Hora inválida\";\n    }\n\n    // Gerar um protocolo único\n    const now = new Date();\n    const dateCompact = now.getFullYear().toString().slice(2) +\n        String(now.getMonth() + 1).padStart(2, '0') +\n        String(now.getDate()).padStart(2, '0') +\n        String(now.getHours()).padStart(2, '0') +\n        String(now.getMinutes()).padStart(2, '0');\n    const randomPart = Math.floor(Math.random() * 100000).toString().padStart(5, '0');\n    const protocolo = `${dateCompact}${randomPart}`;\n    \n    // Adicionar o campo \"Protocolo\" com o valor único\n    item.json.Protocolo = protocolo;\n}\n\nreturn $input.all();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1180,360],"id":"8de64879-c88c-4109-945a-52e114b75c13","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e96fa4d6-b989-4374-a06c-3e5b0461ec2d","leftValue":"={{ $json[\"Data Hora\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"cdeeb189-90bb-4c73-941a-886267a71b7a","leftValue":"={{ $json.Operador }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"972ab541-3420-4a8c-80fc-801a14d61453","leftValue":"={{ $json.Empresa }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"25401ce3-09c7-4aa1-92bd-ca205205e820","leftValue":"={{ $json.Ramal }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"720dbdbe-78e0-4694-a80e-3eaff0d59791","leftValue":"={{ $json[\"Numero Cliente\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-620,360],"id":"2cb09110-b189-4a24-822d-4aebd7afcf1d","name":"Verificar se Há Nota"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37c49396-6e9b-4f51-866c-80267885d30f","leftValue":"={{ $json.Operador }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"10a66ab5-4d37-4b4a-99f6-b7c2f623bfae","leftValue":"={{ $json.Ramal }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"1e94a9af-493c-4e2d-bd96-b7b0ce25006f","leftValue":"={{ $json[\"Data Hora\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"678f000b-cc6b-4421-a5b3-9602824ed698","leftValue":"={{ $json[\"Numero Empresa\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"c15992f7-c123-4132-85d9-8a0f2aefa826","leftValue":"={{ $json[\"Numero Cliente\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-680,-180],"id":"368107c0-9c13-4adc-ab2f-f84a4e9cbfae","name":"Verificar se há Nota Recepitiva"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c47f7053-bec6-4e50-b691-79e1fed5407f","leftValue":"={{ $json.Nota }}","rightValue":3,"operator":{"type":"number","operation":"lte"}},{"id":"1a59cfed-3ab1-4bff-96d3-9839a6ca1434","leftValue":"={{ $json.Nota }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-140,-60],"id":"a4f8cc2f-8a29-4ed9-b163-4cb344769152","name":"Filter"},{"parameters":{"sendTo":"sac@cearagps.com.br ","subject":"=Relatório de Avaliação Negativa - Protocolo {{ $json.Protocolo }}","message":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Relatório de Avaliação - Atendimento</title>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f3f4f6;\n            color: #333;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 40px auto;\n            background-color: #ffffff;\n            padding: 30px;\n            border-radius: 10px;\n            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n        }\n\n        h1 {\n            font-size: 24px;\n            color: #4a5568;\n            text-align: center;\n            margin-bottom: 20px;\n            border-bottom: 2px solid #e2e8f0;\n            padding-bottom: 10px;\n        }\n\n        p {\n            margin: 10px 0;\n            line-height: 1.6;\n        }\n\n        .highlight {\n            color: #e53e3e; /* Vermelho para a nota */\n            font-weight: bold;\n        }\n\n        .details {\n            margin-top: 20px;\n            padding: 20px;\n            background-color: #f7fafc;\n            border: 1px solid #e2e8f0;\n            border-radius: 8px;\n        }\n\n        .details p {\n            margin: 5px 0;\n        }\n\n        .details p strong {\n            color: #2d3748;\n        }\n\n        .footer {\n            text-align: center;\n            margin-top: 20px;\n            font-size: 14px;\n            color: #718096;\n        }\n\n        .footer strong {\n            color: #2d3748;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Relatório de Avaliação - Atendimento</h1>\n        <p>Prezado(a),</p>\n        <p>O cliente com número <span><b>{{ $json['Numero Cliente'] }}</b></span> avaliou negativamente o atendimento realizado na ligação de <span><b>{{ $json['Data Hora'] }}</b></span>, atribuindo a nota <span class=\"highlight\">{{ $json.Nota }}</span>.</p>\n        <div class=\"details\">\n            <p><strong>Detalhes da Ligação:</strong></p>\n            <p><strong>Operador:</strong> {{ $json.Operador }}</p>\n            <p><strong>Ramal:</strong> {{ $json.Ramal }}</p>\n            <p><strong>Empresa:</strong> {{ $json.Empresa }}</p>\n            <p><strong>Número da Empresa:</strong> {{ $json['Numero Empresa'] }}</p>\n            <p><strong>Número do Cliente:</strong> {{ $json['Numero Cliente'] }}</p>\n            <p><strong>Nota:</strong> <span class=\"highlight\">{{ $json.Nota }}</span></p>\n            <p><strong>Tipo da Ligação:</strong> {{ $json['Status Ligação'] }}</p>\n            <p><strong>Protocolo:</strong> {{ $json.Protocolo }}</p>\n        </div>\n        <p>Por favor, verifique o caso para possíveis ações de melhoria.</p>\n        <div class=\"footer\">\n            <p>Atenciosamente,</p>\n            <p><strong>T.I Grupo Ramos</strong></p>\n        </div>\n    </div>\n</body>\n</html>\n\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[80,-60],"id":"a16b037c-ebdb-45d4-8467-3e0086c410e0","name":"Gmail1","webhookId":"e55b441d-2b6d-4aeb-a9f4-d92141c875bc","credentials":{"gmailOAuth2":{"id":"uZK9AXgcbkul3sVE","name":"Gmail account Clenildon"}}},{"parameters":{"jsCode":"// Loop sobre os itens de entrada e adiciona um novo campo chamado \"Setor\"\nfor (const item of $input.all()) {\n  // Define um valor padrão para o setor\n  let setor;\n\n  // Acessa o ramal da propriedade do item\n  const ramal = item.json.Ramal;\n\n  // Mapeia os ramais para seus respectivos setores\n  if ([\"6100\", \"6101\", \"6102\", \"6103\", \"6104\", \"6105\", \"6106\", \"6107\", \"6108\", \"6109\", \"6110\", \"6111\", \"6112\", \"6130\", \"6132\"].includes(ramal)) {\n    setor = \"Central\";\n  } else if (ramal === \"6113\") {\n    setor = \"Agendamento\";\n  } else if (ramal === \"6116\") {\n    setor = \"Administrativo\";\n  } else if ([\"6117\", \"6118\", \"6119\", \"6120\", \"6121\", \"6122\", \"6123\", \"6124\"].includes(ramal)) {\n    setor = \"Recebiveis\";\n  } else if ([\"6128\", \"6129\", \"6131\", \"6114\", \"6115\"].includes(ramal)) {\n    setor = \"Comercial\";\n  } else if (ramal === \"6133\") {\n    setor = \"Sucesso do Cliente\";\n  } else if (ramal === \"6134\") {\n    setor = \"TI\";\n  } else if (ramal === \"6125\") {\n    setor = \"Suporte CRX\";\n  } else if (ramal === \"6126\") {\n    setor = \"Comercial CRX\";\n  } else if (ramal === \"6127\") {\n    setor = \"Financeiro CRX\";\n  } else {\n    setor = \"Desconhecido\"; // Para ramais que não se encaixam nas regras\n  }\n\n  // Adiciona o setor ao item\n  item.json.Setor = setor;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,-160],"id":"0ae9e4f6-f4bd-4190-bfe6-635d161916bf","name":"Campo setor Logica"},{"parameters":{"jsCode":"// Loop sobre os itens de entrada e adiciona um novo campo chamado \"Setor\"\nfor (const item of $input.all()) {\n  // Define um valor padrão para o setor\n  let setor;\n\n  // Acessa o ramal da propriedade do item\n  const ramal = item.json.Ramal;\n\n  // Mapeia os ramais para seus respectivos setores\n  if ([\"6100\", \"6101\", \"6102\", \"6103\", \"6104\", \"6105\", \"6106\", \"6107\", \"6108\", \"6109\", \"6110\", \"6111\", \"6112\", \"6130\", \"6132\"].includes(ramal)) {\n    setor = \"Central\";\n  } else if (ramal === \"6113\") {\n    setor = \"Agendamento\";\n  } else if (ramal === \"6116\") {\n    setor = \"Administrativo\";\n  } else if ([\"6117\", \"6118\", \"6119\", \"6120\", \"6121\", \"6122\", \"6123\", \"6124\"].includes(ramal)) {\n    setor = \"Recebiveis\";\n  } else if ([\"6128\", \"6129\", \"6131\", \"6114\", \"6115\"].includes(ramal)) {\n    setor = \"Comercial\";\n  } else if (ramal === \"6133\") {\n    setor = \"Sucesso do Cliente\";\n  } else if (ramal === \"6134\") {\n    setor = \"TI\";\n  } else if (ramal === \"6125\") {\n    setor = \"Suporte CRX\";\n  } else if (ramal === \"6126\") {\n    setor = \"Comercial CRX\";\n  } else if (ramal === \"6127\") {\n    setor = \"Financeiro CRX\";\n  } else {\n    setor = \"Desconhecido\"; // Para ramais que não se encaixam nas regras\n  }\n\n  // Adiciona o setor ao item\n  item.json.Setor = setor;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,380],"id":"053d76af-b183-4bfc-ad2f-1efe83b03b8e","name":"Campo setor Logica1"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Adicionar \"às\" ao valor de \"Data Hora\", separando data e hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        const dataHoraFormatada = `${data} às ${hora}`;\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado\n        item.json[\"Data Hora\"] = dataHoraFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data Hora\"] = \"Data/Hora inválida\";\n    }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,-220],"id":"278dffad-eb09-41f7-96c3-e5dd5979015d","name":"Code2"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n    // Verificar se \"Data Hora\" existe e não é nulo\n    const dataHoraOriginal = item.json[\"Data Hora\"];\n    \n    if (dataHoraOriginal) {\n        // Adicionar \"às\" ao valor de \"Data Hora\", separando data e hora\n        const [data, hora] = dataHoraOriginal.split(\" \");\n        const dataHoraFormatada = `${data} às ${hora}`;\n        \n        // Sobrescrever o campo \"Data Hora\" com o valor formatado\n        item.json[\"Data Hora\"] = dataHoraFormatada;\n    } else {\n        // Caso \"Data Hora\" esteja ausente ou seja nulo, usar um valor padrão\n        item.json[\"Data Hora\"] = \"Data/Hora inválida\";\n    }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-60],"id":"39225e98-415b-4808-a903-3f436144d2be","name":"Code3"},{"parameters":{"jsCode":"items.forEach(item => {\n  if (item.json[\"Nota\"] === null) {\n    item.json[\"Nota\"] = \"ligação não avaliada\";\n  }\n\n  const dataAtual = new Date();\n  const dataSemFormatacao = `${dataAtual.getDate().toString().padStart(2, '0')}${(dataAtual.getMonth() + 1).toString().padStart(2, '0')}${dataAtual.getFullYear()}`;\n  const numeroAleatorio = Math.floor(100 + Math.random() * 900);\n\n  item.json[\"ID_Linha\"] = Number(`${dataSemFormatacao}${numeroAleatorio}`);\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,440],"id":"2bb149b1-e23d-4530-99bc-86340bc9bc05","name":"Format nota"}],"connections":{"Webhook1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Dados PABX2","type":"main","index":0}],[{"node":"Dados PABX","type":"main","index":0}]]},"Dados PABX":{"main":[[{"node":"Formatando Dados Ativa","type":"main","index":0}]]},"Dados PABX2":{"main":[[{"node":"Formatando Dados - Recepitiva","type":"main","index":0}]]},"Code":{"main":[[{"node":"Campo setor Logica","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Formatando Dados - Recepitiva":{"main":[[{"node":"Code","type":"main","index":0}]]},"Formatando Dados Ativa":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Campo setor Logica1","type":"main","index":0}]]},"Verificar se Há Nota":{"main":[[{"node":"Code3","type":"main","index":0},{"node":"Format nota","type":"main","index":0}]]},"Verificar se há Nota Recepitiva":{"main":[[{"node":"Code2","type":"main","index":0},{"node":"Format nota","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"Campo setor Logica":{"main":[[{"node":"Verificar se há Nota Recepitiva","type":"main","index":0}]]},"Campo setor Logica1":{"main":[[{"node":"Verificar se Há Nota","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Format nota":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8nwebhook.cearatec.cloud","user-agent":"axios/1.7.9","content-length":"86251","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"185.249.227.23","cf-ipcountry":"DE","cf-ray":"9225f4949dd9f813-DUS","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"185.249.227.23, 172.69.109.125","x-forwarded-host":"n8nwebhook.cearatec.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2d40452d35ae","x-real-ip":"172.69.109.125"},"params":{},"query":{},"body":{"conversationSpaceId":"354ec6a3-2a8d-39a9-b5ea-4a5bc21375c7","callCreated":"2025-03-18T15:58:16.807Z","callEnded":"2025-03-18T16:02:30.863Z","callInitiator":"DIRECT","direction":"INBOUND","accountKey":"8621343684556870338","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"type":{"value":"PHONE_NUMBER","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f","number":"+558534846006","caller":{"name":"","number":"+5585988205407"}}},{"id":"67d5e04b-b249-551a-93c9-2858cb158346","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"001e3af8-4eb3-4b7c-acde-151ee97c45c8","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"49fde05f-af64-4c70-91a9-df29b0eee77d","deviceId":"5c03c00f-127c-494d-a9db-1e2b38faad70","extensionNumber":"6104","name":"Ruan Mateus","userId":"c50d8851-fbd8-444c-a2b8-e5529d0efeb7","userKey":"8393993267307910847"}},{"id":"64980ea2-a418-51fd-8c33-56a9bad46c7a","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"e2dbf5a0-03c6-45a4-b67f-242da4f48971","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"72b00125-181a-4799-b0e3-edbb624e1960","deviceId":"d42e94e6-09c4-40f7-8849-836caa27ea0a","extensionNumber":"6108","name":"Heloiza Vital","userId":"3489b527-27f9-4ba8-9f1e-5ac71f614ae7","userKey":"5515030921627604673"}},{"id":"a7d6d8e3-5132-5404-831c-0eae330fc60d","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"502b834d-d2bf-44c9-be09-e6febef3f8a8","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"5b5b8378-be3e-4e6c-8db7-33a288015318","deviceId":"c8fd5ac8-9527-402a-86e7-48ee57d571da","extensionNumber":"6103","name":"Joseph Raniel","userId":"ec42319f-382c-4261-ab7e-3c0f3b76c9d7","userKey":"5717030998859355841"}},{"id":"3038abc5-1a3b-5585-90fc-fb6d2ad63165","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"8d59fc90-77a3-4fc2-a9ee-cf604260b27c","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109","name":"Edson Richard","userId":"86d9b1d2-b171-4728-ae99-0dd7584257ec","userKey":"2764277129304118981"}},{"id":"7e86ccb3-84fd-58da-b1b9-3d5bfff9105e","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"5e74eb51-eccd-4adf-8c62-3f4a7ee8eec5","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132","name":"Ezequiel Bastos Gomes","userId":"69f0378a-afde-407c-8de8-eaba1950e57c","userKey":"375577123926687954"}},{"id":"7d264b36-ec7e-5098-83c3-bafd52fa2a3e","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"875a1e3d-26bc-4039-9b66-2a36ccbe867a","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130","name":"Ana Larissa Cavalcante Garcez","userId":"4eb1fc73-3ac4-420c-8e07-e26108551fd7","userKey":"1354361274504634562"}},{"id":"b6547823-62ff-5810-b4f0-f61dc22834d3","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"f83d89df-d577-464d-beb3-6d40e690532b","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"49fde05f-af64-4c70-91a9-df29b0eee77d","deviceId":"5c03c00f-127c-494d-a9db-1e2b38faad70","extensionNumber":"6104","name":"Ruan Mateus","userId":"c50d8851-fbd8-444c-a2b8-e5529d0efeb7","userKey":"8393993267307910847"}},{"id":"cacf998a-cd09-5af7-9b14-028868b87fae","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"6563670c-7b81-4991-ab15-08bdcf527f27","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"72b00125-181a-4799-b0e3-edbb624e1960","deviceId":"d42e94e6-09c4-40f7-8849-836caa27ea0a","extensionNumber":"6108","name":"Heloiza Vital","userId":"3489b527-27f9-4ba8-9f1e-5ac71f614ae7","userKey":"5515030921627604673"}},{"id":"02b8c89c-9eb8-59a9-a026-e20bd286c03d","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"5610b841-c2d5-4a3d-8b85-7a733a286893","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"5b5b8378-be3e-4e6c-8db7-33a288015318","deviceId":"c8fd5ac8-9527-402a-86e7-48ee57d571da","extensionNumber":"6103","name":"Joseph Raniel","userId":"ec42319f-382c-4261-ab7e-3c0f3b76c9d7","userKey":"5717030998859355841"}},{"id":"80082531-939f-5bd5-8ba2-858553356633","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","recordings":[{"id":"ba56f09f-57f0-48dd-b7b8-bcb8076d43a3","startTimestamp":"2025-03-18T15:59:24.419Z","transcriptEnabled":false}],"liveTranscripts":[],"type":{"value":"AGENT","lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102","name":"Naiane Silva","userId":"3f4df4dd-7810-41d4-8bcb-f158fa28b00c","userKey":"1841396546972194501","interactiveVoiceResponseSystemId":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","skills":[],"matchedSkills":[]}},{"id":"aa71827e-eb95-5509-b951-9fb5d276ff32","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"0e509d4c-59e6-4be9-9619-f89ac09fbe5c","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109","name":"Edson Richard","userId":"86d9b1d2-b171-4728-ae99-0dd7584257ec","userKey":"2764277129304118981"}},{"id":"9fee7087-2eba-5827-8f37-8b6c4b265cf0","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"e9b3b522-1c0f-45fd-bc8f-86f08523f518","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132","name":"Ezequiel Bastos Gomes","userId":"69f0378a-afde-407c-8de8-eaba1950e57c","userKey":"375577123926687954"}},{"id":"0a668bdc-4379-507c-8cbc-43b11c1b5df9","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"df2f4810-dc30-4ab5-9c7a-06e349c4e72e","recordings":[],"liveTranscripts":[],"type":{"value":"LINE","lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130","name":"Ana Larissa Cavalcante Garcez","userId":"4eb1fc73-3ac4-420c-8e07-e26108551fd7","userKey":"1354361274504634562"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","leftQueueReason":"ANSWERED","callbackOffered":false,"intents":[],"configuredWrapUpDuration":0,"callerWaitDuration":27796}}],"associatedConversations":[],"hangupOriginatorId":"80082531-939f-5bd5-8ba2-858553356633","callStates":[{"id":"2cad26df-f34e-5c71-ab5a-7da0a0d9f129","type":"STARTING","sequenceNumber":1,"timestamp":"2025-03-18T15:58:16.807Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}}],"interactiveVoiceResponseSystems":[]},{"id":"d9afb42a-3eff-5391-81d2-03b6f6d9e5cc","type":"ACTIVE","sequenceNumber":2,"timestamp":"2025-03-18T15:58:16.828Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"c8aab4f7-741d-5cb2-8006-7fb726846435","type":"ACTIVE","sequenceNumber":3,"timestamp":"2025-03-18T15:58:56.304Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode","option":"3","result":"DIALED_OPTION"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"90255d07-7eb5-506a-898b-12ad24c75ba8","type":"ACTIVE","sequenceNumber":4,"timestamp":"2025-03-18T15:58:56.305Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"ModifyCallerIdNode_1064","type":"ModifyCallerIdNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_3"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"9f33366a-80c3-5a2d-8eab-5297eaead867","type":"ACTIVE","sequenceNumber":5,"timestamp":"2025-03-18T15:58:56.306Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"ModifyCallerIdNode_1064","type":"ModifyCallerIdNode","result":"CONTINUE"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_3"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"ed70abd8-6f71-5946-beea-fc0013417895","type":"ACTIVE","sequenceNumber":6,"timestamp":"2025-03-18T15:58:56.404Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"534ed0ea-3a1a-541c-adc9-a91cdf57596e","type":"ACTIVE","sequenceNumber":7,"timestamp":"2025-03-18T15:58:56.436Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"dac48171-6a2c-56ad-a8c8-0c21a84cd21c","type":"ACTIVE","sequenceNumber":8,"timestamp":"2025-03-18T15:58:56.809Z","participants":[{"id":"67d5e04b-b249-551a-93c9-2858cb158346","legId":"001e3af8-4eb3-4b7c-acde-151ee97c45c8","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ruan Mateus","value":"LINE","device":{"id":"5c03c00f-127c-494d-a9db-1e2b38faad70","model":"goto.clients"},"lineId":"49fde05f-af64-4c70-91a9-df29b0eee77d","deviceId":"5c03c00f-127c-494d-a9db-1e2b38faad70","extensionNumber":"6104"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"b50daf81-0bc9-58c3-a540-6df27f588722","type":"ACTIVE","sequenceNumber":9,"timestamp":"2025-03-18T15:58:56.809Z","participants":[{"id":"67d5e04b-b249-551a-93c9-2858cb158346","legId":"001e3af8-4eb3-4b7c-acde-151ee97c45c8","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ruan Mateus","value":"LINE","device":{"id":"5c03c00f-127c-494d-a9db-1e2b38faad70","model":"goto.clients"},"lineId":"49fde05f-af64-4c70-91a9-df29b0eee77d","deviceId":"5c03c00f-127c-494d-a9db-1e2b38faad70","extensionNumber":"6104"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"18db5f03-8461-5ae3-8ea0-2adc6a746ad4","type":"ACTIVE","sequenceNumber":10,"timestamp":"2025-03-18T15:58:56.810Z","participants":[{"id":"64980ea2-a418-51fd-8c33-56a9bad46c7a","legId":"e2dbf5a0-03c6-45a4-b67f-242da4f48971","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Heloiza Vital","value":"LINE","device":{"id":"d42e94e6-09c4-40f7-8849-836caa27ea0a","model":"goto.clients"},"lineId":"72b00125-181a-4799-b0e3-edbb624e1960","deviceId":"d42e94e6-09c4-40f7-8849-836caa27ea0a","extensionNumber":"6108"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"65a70bdf-94b5-50e5-9d7a-87fedf78e64d","type":"ACTIVE","sequenceNumber":11,"timestamp":"2025-03-18T15:58:56.810Z","participants":[{"id":"64980ea2-a418-51fd-8c33-56a9bad46c7a","legId":"e2dbf5a0-03c6-45a4-b67f-242da4f48971","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Heloiza Vital","value":"LINE","device":{"id":"d42e94e6-09c4-40f7-8849-836caa27ea0a","model":"goto.clients"},"lineId":"72b00125-181a-4799-b0e3-edbb624e1960","deviceId":"d42e94e6-09c4-40f7-8849-836caa27ea0a","extensionNumber":"6108"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"fe92e627-548b-55f0-9a8e-5fbe9feb27ce","type":"ACTIVE","sequenceNumber":12,"timestamp":"2025-03-18T15:58:56.812Z","participants":[{"id":"a7d6d8e3-5132-5404-831c-0eae330fc60d","legId":"502b834d-d2bf-44c9-be09-e6febef3f8a8","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Joseph Raniel","value":"LINE","device":{"id":"c8fd5ac8-9527-402a-86e7-48ee57d571da","model":"goto.clients"},"lineId":"5b5b8378-be3e-4e6c-8db7-33a288015318","deviceId":"c8fd5ac8-9527-402a-86e7-48ee57d571da","extensionNumber":"6103"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"756a8752-6e09-5c1c-ba31-c61272d3e8f4","type":"ACTIVE","sequenceNumber":13,"timestamp":"2025-03-18T15:58:56.812Z","participants":[{"id":"a7d6d8e3-5132-5404-831c-0eae330fc60d","legId":"502b834d-d2bf-44c9-be09-e6febef3f8a8","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Joseph Raniel","value":"LINE","device":{"id":"c8fd5ac8-9527-402a-86e7-48ee57d571da","model":"goto.clients"},"lineId":"5b5b8378-be3e-4e6c-8db7-33a288015318","deviceId":"c8fd5ac8-9527-402a-86e7-48ee57d571da","extensionNumber":"6103"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"08885f35-ba5b-5c39-abdb-49f3082c7078","type":"ACTIVE","sequenceNumber":14,"timestamp":"2025-03-18T15:58:56.813Z","participants":[{"id":"3038abc5-1a3b-5585-90fc-fb6d2ad63165","legId":"8d59fc90-77a3-4fc2-a9ee-cf604260b27c","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"4b27f38f-ebd4-5112-989e-92284594c3d7","type":"ACTIVE","sequenceNumber":15,"timestamp":"2025-03-18T15:58:56.813Z","participants":[{"id":"3038abc5-1a3b-5585-90fc-fb6d2ad63165","legId":"8d59fc90-77a3-4fc2-a9ee-cf604260b27c","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"f54bb98b-b13a-5a6d-8332-388a3f401918","type":"ACTIVE","sequenceNumber":16,"timestamp":"2025-03-18T15:58:56.814Z","participants":[{"id":"7e86ccb3-84fd-58da-b1b9-3d5bfff9105e","legId":"5e74eb51-eccd-4adf-8c62-3f4a7ee8eec5","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"57b58b3f-0b59-5d15-aa43-046eb8442ead","type":"ACTIVE","sequenceNumber":17,"timestamp":"2025-03-18T15:58:56.815Z","participants":[{"id":"7d264b36-ec7e-5098-83c3-bafd52fa2a3e","legId":"875a1e3d-26bc-4039-9b66-2a36ccbe867a","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ana Larissa Cavalcante Garcez","value":"LINE","device":{"id":"42560337-d7cf-41f0-b026-22ac804df4e0","model":"goto.clients"},"lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"7e86ccb3-84fd-58da-b1b9-3d5bfff9105e","legId":"5e74eb51-eccd-4adf-8c62-3f4a7ee8eec5","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"b328cb35-1561-5a56-8eb6-4db03ff45967","type":"ACTIVE","sequenceNumber":18,"timestamp":"2025-03-18T15:59:16.816Z","participants":[{"id":"7d264b36-ec7e-5098-83c3-bafd52fa2a3e","legId":"875a1e3d-26bc-4039-9b66-2a36ccbe867a","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ana Larissa Cavalcante Garcez","value":"LINE","device":{"id":"42560337-d7cf-41f0-b026-22ac804df4e0","model":"goto.clients"},"lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"7e86ccb3-84fd-58da-b1b9-3d5bfff9105e","legId":"5e74eb51-eccd-4adf-8c62-3f4a7ee8eec5","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"964d0c58-9941-52b4-a277-8e38fab8b055","type":"ACTIVE","sequenceNumber":19,"timestamp":"2025-03-18T15:59:16.816Z","participants":[{"id":"7d264b36-ec7e-5098-83c3-bafd52fa2a3e","legId":"875a1e3d-26bc-4039-9b66-2a36ccbe867a","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ana Larissa Cavalcante Garcez","value":"LINE","device":{"id":"42560337-d7cf-41f0-b026-22ac804df4e0","model":"goto.clients"},"lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"a866a6ff-f109-5cf5-87ac-a97bdf0f4920","type":"ACTIVE","sequenceNumber":20,"timestamp":"2025-03-18T15:59:17.089Z","participants":[{"id":"b6547823-62ff-5810-b4f0-f61dc22834d3","legId":"f83d89df-d577-464d-beb3-6d40e690532b","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ruan Mateus","value":"LINE","device":{"id":"5c03c00f-127c-494d-a9db-1e2b38faad70","model":"goto.clients"},"lineId":"49fde05f-af64-4c70-91a9-df29b0eee77d","deviceId":"5c03c00f-127c-494d-a9db-1e2b38faad70","extensionNumber":"6104"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"7af3c371-d1cf-5ff9-8016-b03bec46be9f","type":"ACTIVE","sequenceNumber":21,"timestamp":"2025-03-18T15:59:17.089Z","participants":[{"id":"b6547823-62ff-5810-b4f0-f61dc22834d3","legId":"f83d89df-d577-464d-beb3-6d40e690532b","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ruan Mateus","value":"LINE","device":{"id":"5c03c00f-127c-494d-a9db-1e2b38faad70","model":"goto.clients"},"lineId":"49fde05f-af64-4c70-91a9-df29b0eee77d","deviceId":"5c03c00f-127c-494d-a9db-1e2b38faad70","extensionNumber":"6104"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"a630f167-8696-5eb7-a4cb-b9486c5ccfee","type":"ACTIVE","sequenceNumber":22,"timestamp":"2025-03-18T15:59:17.091Z","participants":[{"id":"cacf998a-cd09-5af7-9b14-028868b87fae","legId":"6563670c-7b81-4991-ab15-08bdcf527f27","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Heloiza Vital","value":"LINE","device":{"id":"d42e94e6-09c4-40f7-8849-836caa27ea0a","model":"goto.clients"},"lineId":"72b00125-181a-4799-b0e3-edbb624e1960","deviceId":"d42e94e6-09c4-40f7-8849-836caa27ea0a","extensionNumber":"6108"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"52a666bf-9050-5f9c-a26f-12c844402987","type":"ACTIVE","sequenceNumber":23,"timestamp":"2025-03-18T15:59:17.091Z","participants":[{"id":"cacf998a-cd09-5af7-9b14-028868b87fae","legId":"6563670c-7b81-4991-ab15-08bdcf527f27","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Heloiza Vital","value":"LINE","device":{"id":"d42e94e6-09c4-40f7-8849-836caa27ea0a","model":"goto.clients"},"lineId":"72b00125-181a-4799-b0e3-edbb624e1960","deviceId":"d42e94e6-09c4-40f7-8849-836caa27ea0a","extensionNumber":"6108"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"47657e03-b088-5f1c-96ae-a7fb840a1bec","type":"ACTIVE","sequenceNumber":24,"timestamp":"2025-03-18T15:59:17.092Z","participants":[{"id":"02b8c89c-9eb8-59a9-a026-e20bd286c03d","legId":"5610b841-c2d5-4a3d-8b85-7a733a286893","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Joseph Raniel","value":"LINE","device":{"id":"c8fd5ac8-9527-402a-86e7-48ee57d571da","model":"goto.clients"},"lineId":"5b5b8378-be3e-4e6c-8db7-33a288015318","deviceId":"c8fd5ac8-9527-402a-86e7-48ee57d571da","extensionNumber":"6103"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"4d69bfd1-f832-5f0d-a311-b0f8260d3910","type":"ACTIVE","sequenceNumber":25,"timestamp":"2025-03-18T15:59:17.092Z","participants":[{"id":"02b8c89c-9eb8-59a9-a026-e20bd286c03d","legId":"5610b841-c2d5-4a3d-8b85-7a733a286893","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Joseph Raniel","value":"LINE","device":{"id":"c8fd5ac8-9527-402a-86e7-48ee57d571da","model":"goto.clients"},"lineId":"5b5b8378-be3e-4e6c-8db7-33a288015318","deviceId":"c8fd5ac8-9527-402a-86e7-48ee57d571da","extensionNumber":"6103"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"3d94d7f4-b474-58e0-8ed1-a958175729c7","type":"ACTIVE","sequenceNumber":26,"timestamp":"2025-03-18T15:59:17.094Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"f6cc6a87-a855-583e-a34d-cdd933e457e2","type":"ACTIVE","sequenceNumber":27,"timestamp":"2025-03-18T15:59:17.095Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"aa71827e-eb95-5509-b951-9fb5d276ff32","legId":"0e509d4c-59e6-4be9-9619-f89ac09fbe5c","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"19c6623d-390c-5e8b-90d1-8df34eec24fe","type":"ACTIVE","sequenceNumber":28,"timestamp":"2025-03-18T15:59:17.095Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"aa71827e-eb95-5509-b951-9fb5d276ff32","legId":"0e509d4c-59e6-4be9-9619-f89ac09fbe5c","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Edson Richard","value":"LINE","device":{"id":"6f50913b-e575-4521-a548-21470cbc2a84","model":"goto.clients"},"lineId":"d2f8be4c-8904-4b91-abed-096bbabc5be5","deviceId":"6f50913b-e575-4521-a548-21470cbc2a84","extensionNumber":"6109"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"a9f85ab3-ab48-5a79-a835-fb35f539ebd9","type":"ACTIVE","sequenceNumber":29,"timestamp":"2025-03-18T15:59:17.096Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"9fee7087-2eba-5827-8f37-8b6c4b265cf0","legId":"e9b3b522-1c0f-45fd-bc8f-86f08523f518","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"74929836-b041-5bfb-9116-e0bbba0312ee","type":"ACTIVE","sequenceNumber":30,"timestamp":"2025-03-18T15:59:17.097Z","participants":[{"id":"0a668bdc-4379-507c-8cbc-43b11c1b5df9","legId":"df2f4810-dc30-4ab5-9c7a-06e349c4e72e","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ana Larissa Cavalcante Garcez","value":"LINE","device":{"id":"42560337-d7cf-41f0-b026-22ac804df4e0","model":"goto.clients"},"lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"9fee7087-2eba-5827-8f37-8b6c4b265cf0","legId":"e9b3b522-1c0f-45fd-bc8f-86f08523f518","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"9023c390-ee2a-57f4-8b56-75657500260c","type":"ACTIVE","sequenceNumber":31,"timestamp":"2025-03-18T15:59:19.901Z","participants":[{"id":"0a668bdc-4379-507c-8cbc-43b11c1b5df9","legId":"df2f4810-dc30-4ab5-9c7a-06e349c4e72e","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ana Larissa Cavalcante Garcez","value":"LINE","device":{"id":"42560337-d7cf-41f0-b026-22ac804df4e0","model":"goto.clients"},"lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"9fee7087-2eba-5827-8f37-8b6c4b265cf0","legId":"e9b3b522-1c0f-45fd-bc8f-86f08523f518","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ezequiel Bastos Gomes","value":"LINE","device":{"id":"4466a079-92c0-4762-9f63-3beb1e89bb74","model":"goto.clients"},"lineId":"93a6aebd-c92b-4006-909f-becf7a8d4904","deviceId":"4466a079-92c0-4762-9f63-3beb1e89bb74","extensionNumber":"6132"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"a6872ef7-4e8f-526e-bc0c-66fe1ed4754a","type":"ACTIVE","sequenceNumber":32,"timestamp":"2025-03-18T15:59:19.901Z","participants":[{"id":"0a668bdc-4379-507c-8cbc-43b11c1b5df9","legId":"df2f4810-dc30-4ab5-9c7a-06e349c4e72e","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Ana Larissa Cavalcante Garcez","value":"LINE","device":{"id":"42560337-d7cf-41f0-b026-22ac804df4e0","model":"goto.clients"},"lineId":"6d74e116-912b-4662-8715-c061408d3071","deviceId":"42560337-d7cf-41f0-b026-22ac804df4e0","extensionNumber":"6130"},"recordings":[],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"0a2487a7-fbd5-5b8b-8604-4581c8ca3b8f","type":"ACTIVE","sequenceNumber":33,"timestamp":"2025-03-18T15:59:24.412Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"RINGING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"d031b233-99b7-5dd7-aa19-5452e85f4504","type":"ACTIVE","sequenceNumber":34,"timestamp":"2025-03-18T15:59:24.412Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[],"liveTranscripts":[],"status":{"value":"CONNECTED"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"CONNECTED"}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"2a1cea12-fe62-586e-817e-5dcffe4480dc","type":"ACTIVE","sequenceNumber":35,"timestamp":"2025-03-18T16:02:06.833Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"ba56f09f-57f0-48dd-b7b8-bcb8076d43a3","startTimestamp":"2025-03-18T15:59:24.419Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"CONNECTED"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"80082531-939f-5bd5-8ba2-858553356633","extensionNumber":"6102","conversationSpaceId":"354ec6a3-2a8d-39a9-b5ea-4a5bc21375c7"},"destination":{"number":"1000"}}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"4eed8528-3ae0-5371-b33d-068b58ac2da2","type":"ACTIVE","sequenceNumber":36,"timestamp":"2025-03-18T16:02:06.833Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"ba56f09f-57f0-48dd-b7b8-bcb8076d43a3","startTimestamp":"2025-03-18T15:59:24.419Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"CONNECTED"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"80082531-939f-5bd5-8ba2-858553356633","extensionNumber":"6102","conversationSpaceId":"354ec6a3-2a8d-39a9-b5ea-4a5bc21375c7"},"destination":{"number":"1000"}}}],"interactiveVoiceResponseSystems":[{"id":"8a15cab7-6c6f-5d8e-9457-82d2ecfc0c58","type":{"value":"CALL_QUEUE","queueId":"185c6134-2c47-466f-9c0a-296b91b7571d","queueName":"CearaGPS-Central/Suporte","queueType":"ICR","configuredWrapUpDuration":0},"status":{"value":"DISCONNECTING"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"},{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"c030f2fe-63b2-5467-a369-517167b91c93","type":"ACTIVE","sequenceNumber":37,"timestamp":"2025-03-18T16:02:06.833Z","participants":[{"id":"80082531-939f-5bd5-8ba2-858553356633","legId":"669a8e0c-b04b-4ece-96e3-e0e60e34d3bc","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"Naiane Silva","value":"LINE","device":{"id":"635600a6-0d11-4357-a9c4-75139875aea2","model":"goto.clients"},"lineId":"bac33411-d5c9-4e5d-9461-4a7cc329f785","deviceId":"635600a6-0d11-4357-a9c4-75139875aea2","extensionNumber":"6102"},"recordings":[{"id":"ba56f09f-57f0-48dd-b7b8-bcb8076d43a3","startTimestamp":"2025-03-18T15:59:24.419Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}},{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"80082531-939f-5bd5-8ba2-858553356633","extensionNumber":"6102","conversationSpaceId":"354ec6a3-2a8d-39a9-b5ea-4a5bc21375c7"},"destination":{"number":"1000"}}}],"interactiveVoiceResponseSystems":[{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"7930ce04-1666-5992-bfe1-1de215a4b101","type":"ACTIVE","sequenceNumber":38,"timestamp":"2025-03-18T16:02:06.877Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_DIRECT_TRANSFER","initiator":{"name":"Naiane Silva","participantId":"80082531-939f-5bd5-8ba2-858553356633","extensionNumber":"6102","conversationSpaceId":"354ec6a3-2a8d-39a9-b5ea-4a5bc21375c7"},"destination":{"number":"1000"}}}],"interactiveVoiceResponseSystems":[{"id":"c6b0759c-bc42-53c7-9751-46a9904d7dfb","type":{"value":"DIAL_PLAN","dialPlanId":"cd4881b6-8506-4853-ac5f-4720d3d74582","currentNode":{"id":"CallQueueNode_1028","type":"CallQueueNode","result":"COMPLETED"},"executionId":"f9b8ebc3-c2b7-4261-aed0-3899c4b3d523","previousNode":{"id":"ModifyCallerIdNode_1064","connector":"nextNode"}},"status":{"value":"DISCONNECTING"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"5d2c2699-a50b-5ec5-93f0-65c42fabbd11","type":"ACTIVE","sequenceNumber":39,"timestamp":"2025-03-18T16:02:06.905Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"c8dab70c-f8c1-503d-bcd7-389ddbcc5a17","type":"ACTIVE","sequenceNumber":40,"timestamp":"2025-03-18T16:02:23.444Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"AttendantPromptNode_1002","type":"AttendantPromptNode","option":"1","result":"DIALED_OPTION"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"","connector":""}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"0dbecf42-f467-5c67-88db-61bffe8d7cbf","type":"ACTIVE","sequenceNumber":41,"timestamp":"2025-03-18T16:02:23.445Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"ModifyCallerIdNode_1003","type":"ModifyCallerIdNode"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_1"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"34b746ea-d6fc-5e1f-a558-190585bfcb48","type":"ACTIVE","sequenceNumber":42,"timestamp":"2025-03-18T16:02:23.446Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"ModifyCallerIdNode_1003","type":"ModifyCallerIdNode","result":"CONTINUE"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"AttendantPromptNode_1002","connector":"option_1"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"f8dc9be7-a8ac-5790-b956-22943a36b036","type":"ACTIVE","sequenceNumber":43,"timestamp":"2025-03-18T16:02:23.545Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"PlaySoundClipNode_1006","type":"PlaySoundClipNode"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"ModifyCallerIdNode_1003","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"1165cac0-cf01-5a6b-8c8f-a9cbebffb2a1","type":"ACTIVE","sequenceNumber":44,"timestamp":"2025-03-18T16:02:30.769Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"PlaySoundClipNode_1006","type":"PlaySoundClipNode","result":"CONTINUE"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"ModifyCallerIdNode_1003","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"0079d8d5-7d9c-56dd-a2cc-3defc92361a9","type":"ACTIVE","sequenceNumber":45,"timestamp":"2025-03-18T16:02:30.770Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"HangupNode_1024","type":"HangupNode"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"PlaySoundClipNode_1006","connector":"nextNode"}},"status":{"value":"CONNECTED"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"2faf66fc-68cd-55cc-a41f-e45b90626f17","type":"ACTIVE","sequenceNumber":46,"timestamp":"2025-03-18T16:02:30.815Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"IN_INTERACTIVE_VOICE_RESPONSE"}}],"interactiveVoiceResponseSystems":[{"id":"20742f53-3dcf-5572-b9d5-660a8fc610cf","type":{"value":"DIAL_PLAN","dialPlanId":"af236b1e-8c37-4971-be61-334bf66db8fa","currentNode":{"id":"HangupNode_1024","type":"HangupNode","result":"COMPLETED"},"executionId":"042c6f20-a0a0-41cc-8d92-a895d0ed24a7","previousNode":{"id":"PlaySoundClipNode_1006","connector":"nextNode"}},"status":{"value":"DISCONNECTING"},"originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d"}]},{"id":"c2fcc23e-7e86-532f-ab8f-dfab775756ef","type":"ENDING","sequenceNumber":47,"timestamp":"2025-03-18T16:02:30.863Z","participants":[{"id":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","legId":"1e473e96-0e0e-4b98-8f89-f4b2ef027f07","originator":"eb83c782-e9ca-55c0-b0c4-2b969ae6bc5d","type":{"name":"CearaGPS","value":"PHONE_NUMBER","caller":{"name":"","number":"+5585988205407"},"number":"+558534846006","phoneNumberId":"c30dc08d-d7cc-4cad-a967-8db6552e558f"},"recordings":[{"id":"2669a51a-201e-4f54-8c66-b3ab009d166c","startTimestamp":"2025-03-18T15:58:17.668Z","transcriptEnabled":false}],"liveTranscripts":[],"status":{"value":"DISCONNECTING"}}],"interactiveVoiceResponseSystems":[]}]},"webhookUrl":"https://n8nwebhook.cearatec.cloud/webhook/nps02_teste","executionMode":"production"}}]},"versionId":"0121bf27-a046-4cdf-a744-042954858754","triggerCount":1,"tags":[{"createdAt":"2025-03-15T16:20:53.323Z","updatedAt":"2025-03-15T16:20:53.323Z","id":"BQ3vWosWXZVkBdWu","name":"Grupo Ramos"}]}