os_teste1-QiZi7KhGiPHsPmvs.json
{"createdAt":"2025-03-17T17:11:53.632Z","updatedAt":"2025-03-19T11:15:28.078Z","id":"QiZi7KhGiPHsPmvs","name":"Os_teste1","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT\n    OSs.Empresa AS COD_EMPRESA,\n\n    CASE WHEN OSs.Empresa = 1 THEN 'CRX Concox'\n         WHEN OSs.Empresa = 2 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 3 THEN 'Rastreio Brasil'\n         WHEN OSs.Empresa = 1002 THEN 'CearáGPS'\n         WHEN OSs.Empresa = 1003 THEN 'Rastreio Brasil'\n    END AS EMPRESA,\n\n    OSS.Técnico AS COD_TECNICO,\n    CLI.Nome AS TECNICO,\n\n    CASE WHEN OSs.Tipo = 'R' THEN 'Retirada'\n         WHEN OSs.Tipo = 'V' THEN 'Venda'\n         WHEN OSs.Tipo = 'C' THEN 'Corretiva'\n         WHEN OSs.Tipo = 'P' THEN 'Preventiva'\n         WHEN OSs.Tipo = 'A' THEN 'Vistoria'\n         WHEN OSs.Tipo = 'M' THEN 'Manutenção'\n         WHEN OSs.Tipo = 'I' THEN 'Acordo (Captura)'\n    END AS TIPO,\n\n    OS.Descrição AS SERVICO,\n    OS.Quantidade AS QUANTIDADE,\n    OSs.Ordem AS ORDEM_SERVICO,\n    OSs.Cliente AS COD_CLIENTE,\n    C.Nome AS CLIENTE,\n    CONVERT(VARCHAR(10), OSs.DataFechamento, 103) AS DATA_FECHAMENTO\n\nFROM OSs (NOLOCK)\n\nINNER JOIN OSServiços OS (NOLOCK) ON OS.Planílha = OSs.Planílha\nINNER JOIN Clientes C (NOLOCK) ON C.CodCliente = OSs.Cliente\nINNER JOIN Clientes CLI (NOLOCK) ON CLI.CodCliente = OSS.Técnico\n\nWHERE OSs.DataFechamento >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\n  AND OSs.DataFechamento <= EOMONTH(DATEADD(MONTH, -1, GETDATE()))\n  AND OSs.Empresa IN (1002, 1003)\n\nORDER BY OSs.DataFechamento"},"name":"Microsoft SQL1","type":"n8n-nodes-base.microsoftSql","position":[-320,100],"typeVersion":1,"id":"150afad4-029b-449c-a31c-2ca2f2d72f00","credentials":{"microsoftSql":{"id":"pH65BfvKjPWhUKHM","name":"Microsoft SQL account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 1 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-520,420],"id":"2a843a0a-23ed-4182-99c6-4141e390cde6","name":"Schedule Trigger1"},{"parameters":{"content":"## Salva a tabela SQL como um arquivo CSV\n### O relatório é gerado automaticamente para o mês anterior\n### Pode ser enviado por e-mail, salvo ou publicado\n","height":280,"width":502},"id":"e6e619d2-cb59-483d-8f4d-3872db9b7257","name":"Sticky Note - CSV1","type":"n8n-nodes-base.stickyNote","position":[-1040,620],"typeVersion":1},{"parameters":{"content":"## Automação para consulta do banco de dados\n## O fluxo coleta as OS dos técnicos referentes ao mês anterior,\n## gera um relatório CSV e envia para os gestores no primeiro dia do mês.\n","height":280,"width":462,"color":4},"id":"226c7511-7f59-4a05-9d82-a4b18fa50ef8","name":"Sticky Note - Descrição1","type":"n8n-nodes-base.stickyNote","position":[-1060,240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"c83406d9-4199-44c7-b9cc-4a5c9b7f30d7","name":"data","value":"$json","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"37b542c5-585b-4b85-89a2-5131bbeec4b9","name":"Edit Fields"},{"parameters":{"operation":"toFile","fileFormat":"csv","binaryPropertyName":"=data","options":{"fileName":"relatorio","headerRow":true}},"id":"a4ec91df-16ec-4999-a432-eb003fcef879","name":"SaveCSV1","type":"n8n-nodes-base.spreadsheetFile","position":[220,140],"typeVersion":1},{"parameters":{"options":{"fileName":"Relatoooorio"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[480,320],"id":"e4bf6d2b-bee5-4d27-8034-6cb8b3add935","name":"Convert to File"},{"parameters":{"operation":"createFromText","name":"Relatório","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ElHI5NnZyW-xkFYjZMxMzD2_sOfCfRcC","mode":"list","cachedResultName":"Relatórios","cachedResultUrl":"https://drive.google.com/drive/folders/1ElHI5NnZyW-xkFYjZMxMzD2_sOfCfRcC"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[740,400],"id":"02a9d9f6-2974-4a81-a3fc-35e2d435a64e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"Sx8rprpBzaN98KIp","name":"Google Drive RAMOS"}}}],"connections":{"Microsoft SQL1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"SaveCSV1","type":"main","index":0}]]},"SaveCSV1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5c055aa-1156-4d1a-9ea1-61b22a2bf4ae","triggerCount":0,"tags":[]}