teste_telegram1-d2IWa1cVHONXVseX.json
{"createdAt":"2025-03-21T19:40:28.763Z","updatedAt":"2025-03-24T11:04:42.561Z","id":"d2IWa1cVHONXVseX","name":"teste_telegram1","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bot00","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1000,280],"id":"79be0233-2501-45ca-8036-c16af6455519","name":"Webhook","webhookId":"b499133a-dad9-4145-b7c3-0a41f3d8a8b4"},{"parameters":{"assignments":{"assignments":[{"id":"ab745a4a-be38-496a-a73d-0ce54612da5a","name":"SearchTerm","value":"={{ $json.body.body.data.message.conversation }}","type":"string"},{"id":"f5f5cd28-5fd0-44ec-8a25-672c12a98702","name":"Grupo","value":"{{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-780,280],"id":"eb341b6a-573a-4d32-b1c4-c72ce4758a74","name":"Extrair CPF ou Placa"},{"parameters":{"operation":"executeQuery","query":"DECLARE @SearchTerm VARCHAR(50);\nSET @SearchTerm = '{{ $json.body.body.data.message.conversation }}';\n\nSELECT \n    C.Nome AS [NOME],\n    LTRIM(RTRIM(\n         COALESCE(C.[Endereço], '') +\n         CASE WHEN C.NumCasa IS NOT NULL THEN ', ' + C.NumCasa ELSE '' END +\n         CASE WHEN C.Bairro IS NOT NULL THEN ', ' + C.Bairro ELSE '' END +\n         CASE WHEN C.Cidade IS NOT NULL THEN ', ' + C.Cidade ELSE '' END +\n         CASE WHEN C.Estado IS NOT NULL THEN ', ' + C.Estado ELSE '' END +\n         CASE WHEN C.CEP IS NOT NULL THEN ', ' + C.CEP ELSE '' END\n    )) AS [ENDEREÇO COMPLETO],\n    LTRIM(RTRIM(\n         COALESCE(C.Celular, '') +\n         CASE WHEN C.Fone1 IS NOT NULL THEN '; ' + C.Fone1 ELSE '' END +\n         CASE WHEN C.Fone2 IS NOT NULL THEN '; ' + C.Fone2 ELSE '' END\n    )) AS [CONTATO COMPLETO],\n    C.CGCCPF AS [CPF],\n    C.DiaVencimento AS [DIA DE VENCIMENTO],\n    GV.Placa AS [PLACA],\n    COALESCE(SA.Descrição, C.PlanoMMN) AS [PLANO],\n    ISNULL((SELECT COUNT(*) FROM dbo.ContasReceber WHERE Cliente = C.CodCliente AND Pago = 0), 0) AS [MENSALIDADES EM ABERTO],\n    ISNULL((SELECT SUM(Saldo) FROM dbo.ContasReceber WHERE Cliente = C.CodCliente AND Pago = 0), 0) AS [VALOR DÉBITO]\nFROM dbo.Clientes C\nLEFT JOIN dbo.[ServiçosAdicionais] SA ON SA.CentroResultados = C.CentroResultados\nLEFT JOIN dbo.[GRVeículos] GV ON GV.Cliente = C.CodCliente\nWHERE \n    -- CPF tratado sem pontos e hífen\n    REPLACE(REPLACE(REPLACE(C.CGCCPF, '.', ''), '-', ''), ' ', '') = \n    REPLACE(REPLACE(REPLACE(@SearchTerm, '.', ''), '-', ''), ' ', '')\n\n    OR \n\n    -- Placa tratada para case-insensitive (maiúsculas/minúsculas)\n    UPPER(GV.Placa) = UPPER(@SearchTerm);\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-560,280],"id":"563c2717-54c5-40c5-a482-cf0e925f10ef","name":"Consultar Banco de Dados","alwaysOutputData":true,"executeOnce":false,"retryOnFail":false,"credentials":{"microsoftSql":{"id":"pH65BfvKjPWhUKHM","name":"Microsoft SQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c74f7fe-e6d9-4162-adbb-bed88a39a09f","leftValue":"{{ Object.keys($json).length > 0 }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"434ae585-3c35-4a67-8a29-fc628a7ae5fd","leftValue":"{{ $json[\"NOME\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,280],"id":"d384373a-6061-410c-9ff3-032bf352c249","name":"Verificar Resultado"},{"parameters":{"assignments":{"assignments":[{"id":"39dc7a6f-357d-4184-86b4-1e7b6317e3f7","name":"Mensagem","value":"\"Nenhuma informação encontrada para o CPF/Placa fornecido.\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,420],"id":"62134972-199c-4f25-aec7-6852993d0b86","name":"\"Mensagem Não Encontrada\""},{"parameters":{"content":"## Resposta\nVerifica se a Placa ou CPF são válidos e envia resposta ","height":580,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,20],"id":"45244aa2-e4e7-4eab-9f5f-603005d1fab3","name":"Sticky Note"},{"parameters":{"jsCode":"return [{\n  Mensagem: \n    '📌 CAPTURA\\n\\nNOME: ' + ($json[\"NOME\"] || 'Não informado') + \n    '\\nENDEREÇO: ' + ($json[\"ENDEREÇO COMPLETO\"] || 'Não informado') + \n    '\\nCONTATO: ' + ($json[\"CONTATO COMPLETO\"] || 'Não informado') + \n    '\\nPLANO: ' + ($json[\"PLANO\"] || 'Não informado') + \n    '\\nPLACA: ' + ($json[\"PLACA\"] || 'Não informado') + \n    '\\nMENSALIDADES EM ABERTO: ' + ($json[\"MENSALIDADES EM ABERTO\"] || '0') + \n    '\\nVALOR DÉBITO: R$' + ($json[\"VALOR DÉBITO\"] || '0.00')\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-60,120],"id":"b114918f-848d-4b1a-8a87-7b72c7c18c7d","name":"Formatar Resposta1"},{"parameters":{"resource":"callback","queryId":"OEVyx32eZfdmpvWD","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,300],"id":"0ab1abdd-d148-4f2d-a26b-b3fac2db2e23","name":"Telegram","webhookId":"3f4a33f6-051f-43cb-81c5-d2b845247979","credentials":{"telegramApi":{"id":"OEVyx32eZfdmpvWD","name":"Telegram account"}}}],"connections":{"Webhook":{"main":[[{"node":"Extrair CPF ou Placa","type":"main","index":0},{"node":"Consultar Banco de Dados","type":"main","index":0}]]},"Consultar Banco de Dados":{"main":[[{"node":"Verificar Resultado","type":"main","index":0}]]},"Verificar Resultado":{"main":[[{"node":"Formatar Resposta1","type":"main","index":0}],[{"node":"\"Mensagem Não Encontrada\"","type":"main","index":0}]]},"\"Mensagem Não Encontrada\"":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Formatar Resposta1":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b6da60e-f649-4f17-86de-3a3ab7f27461","triggerCount":0,"tags":[]}